<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.codesquare.mapper.study.StudyMapper">
<!-- UserId는 임시로 'cksdud'으로 출력중 -->

	<select id="getBoardList" resultType="Board">
		SELECT  * FROM Board_view WHERE BoardName IN(#{boardName}) ORDER BY WriteDate DESC
	</select>
	
	<select id="getBoardView" resultType="Board">
		SELECT  * FROM Board_view WHERE BoardName IN(#{boardName}) AND Id=#{boardId}
	</select>
	
	<select id="getBoardKind" resultType='BoardKind'>	
	
		SELECT bk.*, bk2.BoardNameEn AS MainSubjectName FROM BoardKind bk
		INNER JOIN BoardKind AS bk2 ON RIGHT(bk2.Id,3) = LEFT(bk.Id,3)
		WHERE bk.BoardNameEn=#{BoardNameEn}
	</select>
	
	<insert id="addBookmark" parameterType="java.util.Map">
		<selectKey keyProperty="id" resultType="String" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO BookmarkList (UserId, BoardId)
		VALUES ('cksdud', #{boardId})
	</insert>
	
	<select id="getBookmarkId" resultType="String">
		SELECT Id FROM BookmarkList WHERE UserId='cksdud' AND BoardId=#{boardId} LIMIT 1
	</select>
	
	<delete id="deleteBookmark">
		DELETE FROM BookmarkList WHERE UserId='cksdud' AND BoardId=#{boardId}
	</delete>
	
	<insert id="writeStudyWantedBoard" parameterType="Board">
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO Board (BoardKindId, UserId, GroupId, Nickname, Title, Content )
		VALUES ('StdMo', 'cksdud', #{groupId}, '찬영찬영', #{title}, #{content});
	</insert>
	
	<delete id="deleteStudyWantedBoard">
		DELETE FROM Board WHERE #{boardId}
	</delete>
	
	
</mapper>