 @charset "UTF-8";

body {
font-family: 'Nanum Gothic', sans-serif;
color:#321956;
}

.mybtn {
	border-radius: 50px;
	border: 1px solid #552796;
	color: #552796;
}

.mybtn:hover {
	background: #552796;
	color: white;
}


#accept-dialog, #decline-dialog, #cancel-dialog   {
	display: none;
	position: fixed;
	left: calc(50% - 160px);
	top: calc(50% - 70px);
	width: 320px;
	height: auto;
	background: #fff;
	border-radius:20px;
	border: 1px #552796 solid;
	padding: 20px;
	z-index: 11;
	padding: 10px;
}

#accept-dialog-content,  #decline-dialog-content, #cancel-dialog-content{
	
	padding:15px;
}

.sidebar {
	position: fixed;
}


