<html xmlns:th="http://www.typeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="static/styles/room/datepicker.min.css" rel="stylesheet" type="text/css">
<script src="static/js/room/datepicker.min.js"></script>
<script src="static/js/room/i18n/datepicker.en.js"></script>
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <script>
  $(function() {
	    $( "#testDatepicker" ).datepicker({
	    	language: 'en',
	    	dateFormat: 'yyyy-mm-dd',
	        minDate: new Date()
	    });
	});
  </script>
<script type="text/javascript" th:inline="javascript">

	$(function(){
		var testArr = /*[[${test}]]*/;
		$('#reservationtime option[value="01:00:00"]').attr('disabled',true);
	});

</script>
  <style>
      a.a{
        font-family: 'Do Hyeon', sans-serif;
        font-size: 20px;
        font-weight: 200;
      }
      table {
		font-family: 'Do Hyeon', sans-serif;
        font-size: 20px;
        font-weight: 100;
	}
    </style>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div th:each="item:${list}">
			<a th:text="${item.roomname}" class="a"></a><br>
			<a><img th:src="@{static/}+${item.thumbnailPath}" style="height: 280px"/></a>
<form action="/reserve">
<table>
	<tbody>
 	<input type="hidden" name="roomid" th:value="${item.id}">
		<tr>
			<th>이용 인원</th>
			<th><select name="person" id="person">
				<option>선택</option>
				<option value="2">2인</option>
				<option value="3">3인</option>
				<option value="4">4인</option>
				<option value="5">5인</option>
				<option value="6">6인</option>
				<option value="7">7인</option>
				<option value="8">8인</option>
				<option value="9">9인</option>
				<option value="10">10인</option>
				<option value="15">15인</option>
				<option value="20">20인</option>
				<option value="25">25인</option>
				<option value="30">30인</option>
			</select>
			</th>
		</tr>
		<tr>
			<th>이용 날짜</th>
			<th><input type="text" id="testDatepicker" placeholder="연도/월/일" autocomplete="off" name="reservationdate"></th>
		<tr>
			<th>이용 시간</th>
			<th><select id="reservationtime" name="reservationtime">
				<option>선택</option>
				<option value="00:00:00">00</option>
				<option value="01:00:00">01</option>
				<option value="02:00:00">02</option>
				<option value="03:00:00">03</option>
				<option value="04:00:00">04</option>
				<option value="05:00:00">05</option>
				<option value="06:00:00">06</option>
				<option value="07:00:00">07</option>
				<option value="08:00:00">08</option>
				<option value="09:00:00">09</option>
				<option value="10:00:00">10</option>
				<option value="11:00:00">11</option>
				<option value="12:00:00">12</option>
				<option value="13:00:00">13</option>
				<option value="14:00:00">14</option>
				<option value="15:00:00">15</option>
				<option value="16:00:00">16</option>
				<option value="17:00:00">17</option>
				<option value="18:00:00">18</option>
				<option value="19:00:00">19</option>
				<option value="20:00:00">20</option>
				<option value="21:00:00">21</option>
				<option value="22:00:00">22</option>
				<option value="23:00:00">23</option>
			</select>
			<a>시에 시작하여</a>
				<select name="usetime">
				<option value="02:00:00">2시간</option>
				<option value="03:00:00">3시간</option>
				<option value="04:00:00">4시간</option>
				<option value="05:00:00">5시간</option>
				<option value="06:00:00">6시간</option>
				<option value="07:00:00">7시간</option>
				<option value="08:00:00">8시간</option>
				<option value="09:00:00">9시간</option>
				<option value="10:00:00">10시간</option>
				</select>
			<a>동안 이용</a>
			</th>
		</tr>
	</tbody>
</table>
<input type="submit" value="예약하기">
</form>
<br>
<select>
  <option value="volvo" disabled>Volvo</option>
  <option value="saab">Saab</option>
  <option value="vw">VW</option>
  <option value="audi">Audi</option>
</select>

</div>
</div>
</body>
</html>