<!DOCTYPE html>
<html xmlns:th="http://www.typeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">
	<meta charset="utf-8">
<head>
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<!-- mainlayout이 안먹는다? 일단 간직하자 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


</head>
<body>
	<div class="container" layout:fragment="content">

		<div class="carousel-inner">
			<!-- 지우면 사진 크기 줄어듬 -->

			<div class="carousel-item active"></div>
			<div th:each="item:${list}"><br><br> 
				<img th:src="@{static/}+${item.thumbnailPath}" style="height: 280px" />
				<ul th:text="${item.roomname}"></ul>
				정원:<span th:text="${item.usepeople}">명</span><br>
				정보:<span th:text="${item.optioninfo}"></span><br>
				<a th:href="@{'roomView?id='+${item.id}}">
					<span th:text="${item.roomname}"></span>
				</a>
			</div>
		</div>
	</div>

</body>
</html>