<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/mainLayout2"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap-select/1.13.3/css/bootstrap-select.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/font-awesome/5.7.1/css/all.min.css}" />
<link
	href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR"
	rel="stylesheet">
<link
	th:href="@{/static/styles/member/viewOthers.css}"
	rel="stylesheet">
	
</head>
<body>
	<div class="container" layout:fragment="content">
			<br />
			<br />
			<h3><span th:text="${user.nickName} + ' (' + ${user.userId} +') 님이 쓴 글'"></span></h3>
			<br />

			<div class="row border-bottom text-center py-2"
				th:each="blist : ${blist}">
				<div class="col-md-2 small">
					<span th:text="${blist.boardName}"></span>
				</div>
				<div class="col-md-4 text-left">
					<a th:href="@{'/go/'+${blist.id}}"><span th:text="${blist.title}"></span> </a>[<span class="small"
						th:text="${blist.commentCount}"></span>] <span
						th:if="${blist.imageCount} != 0"><i class="far fa-image"></i></span>
				</div>
				<div class="col-md-2 small">
					<span th:text="${blist.nickName}"></span>
				</div>
				
			
				<div class="col-md-2 small"
					th:text="${blist.writeDateBoard}"></div>
				<div class="col-md-1 small">
					<i class="far fa-eye"></i> <span th:text="${blist.hit}"></span>
				</div>
				<div class="col-md-1 small">
					<i class="fas fa-heart"></i> <span th:text="${blist.likeCount}"></span> 
				</div>

			</div>
		
			<!-- 페이징  -->
			<div class="row pt-2 ">
				<div class="col-12">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:if="${pageMakerBL.prev} == true"><a
							class="page-link"
							th:href="@{/member/myBoardList(page=${pageMakerBL.startPage}-1,perPageNum=${pageMakerBL.cri.perPageNum}, keyword=${pageMakerBL.cri.keyword})}">&laquo;</a>
						</li>

						<li class="page-item"
							th:each="idx,iterStat : ${#numbers.sequence(pageMakerBL.startPage,pageMakerBL.endPage)}"
							th:classappend="${pageMakerBL.cri.page} == ${idx} ? active : null">
							<a class="page-link"
							th:href="@{/member/myBoardList(page=${idx},perPageNum=${pageMakerBL.cri.perPageNum},  keyword=${pageMakerBL.cri.keyword})}"
							th:text="${idx}" th:if="${idx}"></a>
						</li>

						<li class="page-item"
							th:if="${pageMakerBL.next} == true and ${pageMakerBL.endPage > 0}">
							<a class="page-link"
							th:href="@{/member/myBoardList(page=${pageMakerBL.endPage}+1,perPageNum=${pageMakerBL.cri.perPageNum}, keyword=${pageMakerBL.cri.keyword})}">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		
		
		
		
		
		
		
		</div>
		

</body>
</html>