<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="layout/adminLayout"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>AdminPage by CodeSquare</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>

<body>
  <div class="wrapper" layout:fragment="content">
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
				<!-- Modal-alert -->
					<div class="modal fade" id="modal-board-alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="modal-alert-title">Warning</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
							<div class="modal-body" >
								<i class="fas fa-exclamation-triangle fa-x4"></i><label id="modal-alert-area"></label>
					      </div>
					      <div class="modal-footer">
					        <button id="btn-delete-cancel" type="button" class="btn btn-warning" data-dismiss="modal">확인</button>
					      </div>
					    </div>
					  </div>
					</div>					
					<!-- End Of Modal-alert -->
					<!-- Modal-Control-LectureDelete -->
					<div class="modal fade" id="modal-board-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="modal-title">게시글 삭제</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
							<div class="modal-body" >
						      	<ul id="modal-checked-lecturelist" class="list-group" style="border-bottom:2px dashed #dddddd;height: 200px;overflow-y: scroll;">
								</ul>
								<i class="material-icons">description</i></label>게시글 을(를) 삭제하시겠습니까?
					      	</div>
					      <div class="modal-footer">
					        <button id="btn-delete-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
					        <button id="btn-delete-yes" type="button" class="btn btn-primary">삭제</button>
					      </div>
					    </div>
					  </div>
					</div>					
					<!-- End Of Modal-Control-LectureDelete -->
					<!-- Modal-Control-LecturePendig -->
					<div class="modal fade" id="modal-board-bookmark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="modal-title">즐겨찾기 설정</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
							<div class="modal-body" >
								<i class="material-icons">developer_board</i><label id="modal-lecture-title"></label>게시판 종류
								<div class="row" style="border: 1px dashed #dddddd;margin: auto;">
						      	<div id="list-boardKind" class="col-md-6 list-group" style=" max-height: 400px; overflow-y:scroll;">
						      		<span th:each="bkList:${boardKindList}" class="list-group-item list-group-item-action" th:id="@{bkItem-}+${bkList.id}" th:text="@{${bkList.boardName}}">보드명</span>
						      	</div>
						      	<div id="list-bookark-addedList" class="col-md-6 list-group" style=" max-height: 400px; overflow-y:scroll;">
						      		<span th:each="item:${bBKList}" class="list-group-item list-group-item-action" th:value="@{${item.id}}" th:text="@{${item.boardName}}">버튼</span>
						      	</div>
						      	</div>
					      </div>
					      <div class="modal-footer">
					        <button id="btn-pending-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
					        <button id="btn-pending-clear" type="button" class="btn btn-primary">저장하기</button>
					      </div>
					    </div>
					  </div>
					</div>					
					<!-- End Of Modal-Control-LecturePendig -->
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h3 class="card-title">게시판 관리</h3>
									<div class="row">
										<div class="col-lg-3 btn-category">
											<form class="form-inline ml-auto"
												action="/admin/board/search" method="get">
												<div class="form-group no-border">
													<input id="input-searchbox" type="text"
														class="form-control" name="content" placeholder="Search">
												</div>
												<button id="btn-search" type="submit" class="btn btn-neutral btn-icon btn-round">
													<i class="material-icons">search</i>
												</button>
											</form>
										</div>
										<div class="col-lg-2 h4">
											<label id="div-alert-area"></label>
										</div>
										<div id="" class="col-lg-7"	style="text-align: right;">
											<button class="btn btn-success btn-fab  btn-round " data-toggle="modal" data-target="#modal-board-bookmark">
											  <i class="fas fa-exchange-alt"></i>
											</button>
											<label style="color:white; ">자주가는 게시판</label>&nbsp<br/>
											<div class="btn-group btn-group-lg">
											  <button th:each="item:${bBKList}" type="button" class="btn btn-warning btn-sm" th:value="@{${item.id}}" th:text="@{${item.boardName}}">버튼</button>
											</div>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
									<div class="row" style="border-bottom: 1px solid #dddddd;">
											<div class="col-md-6 ">
											<button id="btn-allcheck" class="btn btn-warning btn-round btn-sm" data-status="off">
											  <i class="far fa-check-square"></i> All Check
											</button>
											<form action="/admin/board/" method="GET" style="display: inline;">
											  <select name="cars" class="custom-select" style="width:35%;border-radius: 30px;height: 85%;">
											    <option selected>Custom Select Menu</option>
											    <option th:each="bkList:${boardKindList}" th:value="@{${bkList.id}}" th:text="@{${bkList.boardName}}">보드명</option>
											  </select>
											</form>
											</div>
											<div class="d-flex col-md-6 justify-content-end">
												<button id="btn-lectureStatus-change" class="btn btn-warning btn-round btn-sm" data-toggle="modal" >
												  <i class="fas fa-exchange-alt"></i> 게시글 삭제
												</button>	
												<!-- <button id="btn-lecture-modify" class="btn btn-warning btn-round btn-sm" data-toggle="modal">
												  <i class="fas fa-exchange-alt"></i> 강의 수정
												</button> -->
													
											</div>
										</div>
										<table id="table-boardinfo" class="table" style="text-align: center">
											<thead class=" text-primary">
												<th>Check</th>
												<th colspan="2" class="text-left">Title</th>
												<th>author</th>
												<th>Like</th>
												<th>Hit</th>
												<th>WriteDate</th>
											</thead>
											<tbody>
												<tr th:each="item:${boardList}" th:id="@{post-}+${item.id}" class="tr-boardInfo">
													<td>
														<div class="form-check">
															<label class="form-check-label"> 
																<input name="form-check-list"	class="form-check-input" type="checkbox" value="">
																	<span class="form-check-sign"><span class="check"></span></span>
															</label>
														</div>
													</td>
													<td colspan="2" class="text-left" ><a class="lecture-link"  th:href="@{/admin/board/}+${item.id}" th:text="@{${item.title}}" style="font-size: 15px;"></a>
														<span class="badge badge-pill badge-success" th:text="@{${item.commentCount}}">댓글수</span>
													</td>
													<td th:text="@{${item.nickName}}">작성자</td>
													<td><i class="far fa-heart"></i>&nbsp<label th:text="@{${item.likeCount}}"></label></td>
													<td><i class="far fa-eye"></i>&nbsp<label th:text="@{${item.hit}}"></label></td>
													<td th:text="@{${item.writeDateBoard}}"></td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<div align="center">
										<ul
											class="pagination justify-content-center  no-margin pull-right ">
											<li class="page-item" th:if="${pageMaker.prev} == true">
												<a class="page-link"
												th:href="@{/admin/board(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
											</li>
											<li class="page-item"
												th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
												th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
												<a class="page-link"
												th:href="@{/admin/board(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}"
												th:text="${idx}"></a>
											</li>
											<li class="page-item"
												th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
												<a class="page-link"
												th:href="@{/admin/board(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div sec:authorize="hasAnyRole('ROLE_2', 'ROLE_3')"
						class="d-flex flex-row-reverse bg-light">
						<a class="p-2 btn btn-secondary btn-lg" th:href="@{learn/intro}">강의등록</a>
					</div>
					<th:block layout:fragment="script">
						<script th:src="@{/webjars/jquery/3.3.1/dist/jquery.js}"></script>
						<script type="text/javascript" th:src="@{/static/js/admin/utilCustom.js}"></script>
						<script type="text/javascript" th:src="@{/static/js/admin/adminBoardCustom.js}"></script>
						<!-- <script type="text/javascript" th:src="@{/static/js/admin/adminLectureCustom.js}"></script> -->
					</th:block>
				</div>
      </div>
      
    </div>
  </div>
</body>
</html>