<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.codesquare.mapper.board.BoardMapper">
	<select id="getRecommandList" resultType="Board">
		SELECT *
		FROM (select *
			  from Board_view
			  where BoardName IN('스터디모집','세미나모집')AND STATUS=1)AS B
		ORDER BY RAND() LIMIT 2;
	</select>
	<select id="getQuickBoardList" parameterType="String" resultType="Board">
		select id, BoardKindId, title, writeDate, hit,commentCount,nickName
		from v_QuickBoard
		where BoardKindId=#{tag}
		limit 5
	</select>
	<select id="getAllBlackKeyword" resultType="String">
		SELECT Content
		FROM BlackKeyword
	</select>
	<select id="getAllBoardList" parameterType="map" resultType="Board">
		SELECT *
		FROM Board
		WHERE BoardKindId=#{boardKindId}
		<if test="content == null">ORDER BY Id DESC</if>
		<if test="content != null">ORDER BY #{content}</if>
		<![CDATA[   
         LIMIT #{cri.pageStart}, #{cri.perPageNum}
  		 ]]>
	</select>
	<select id="getBoardKindList" parameterType="String" resultType="map">
		SELECT Id AS 'id', BoardName AS 'boardName'
		FROM BoardKind
	</select>
	<select id="getBookmarkBoardKindList" resultType="map">
		SELECT Id AS 'id', BoardName AS 'boardName'
		FROM BoardKind
		WHERE AdminBookmark = 1
	</select>
	<select id="getRecommandLecutreList" resultType="LectureIntroContent">
		SELECT * FROM v_LectureIntroContent WHERE LectureStatus=0 ORDER BY RAND() LIMIT 3
	</select>
	
	
<!--     <insert id="insert" parameterType="test">
    	INSERT INTO HANSOL(ID,NAME) VALUES(#{id},#{name})
    </insert>
    <update id="update" parameterType="test">
    	UPDATE HANSOL
    	SET NAME=#{name}
    	WHERE ID=#{id}
    </update>
    <delete id="delete" parameterType="int">
    	DELETE FROM HANSOL
    	WHERE ID=#{id}
    </delete> -->
</mapper>
