<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.codesquare.mapper.board.FreeMapper">

<!-- 
<select id="getfree" resultType="Board">
	SELECT * FROM codesquare.Board where BoardKindId='ComFr' order by id desc
</select> -->

<select id="insert" resultType="Board" parameterType="Board">
		INSERT INTO codesquare.Board (boardKindId, UserId, nickName, title, content, Hit) VALUES 
		(#{boardKindId}, #{userId}, #{nickName}, #{title}, #{content}, 0)
</select>
<select id="getid" resultType="Board">
		SELECT * FROM codesquare.Board where id=#{id}
</select>
<update id="updateCount" parameterType="Board">
		update codesquare.Board set hit=hit+1 where id=#{id}
</update>
<select id="getBoardName" resultType="BoardKind">
select boardName from codesquare.BoardKind where id=#{boardKindId};
</select>
<delete id="delete" parameterType="Board">
		delete from codesquare.Board where id=#{id}
</delete>

<update id="update" parameterType="Board">
		update codesquare.Board set title=#{title}, content=#{content} where id=#{id}
</update>

<select id="getfree" resultType="Board">
		select * from codesquare.Board
		where Board.boardKindId=#{boardKindId}
		<if test="cri.keyword != null">
		<choose>
			<when test="cri.searchOption == 'all'">
				and content like CONCAT('%',#{cri.keyword},'%')
				or title like CONCAT('%',#{cri.keyword},'%')
			</when>
			<when test="cri.searchOption == 'title'">
				and title like CONCAT('%',#{cri.keyword},'%')
			</when>
			<!-- <when test="cri.searchOption == 'nickname'">
				and nickname like CONCAT('%',#{cri.keyword},'%')
			</when> -->
			<otherwise>
				and nickname like CONCAT('%',#{cri.keyword},'%')
			</otherwise>
		</choose>
		</if>
		order by id desc, writedate desc
		limit #{cri.pageStart}, #{cri.perPageNum}
</select>


<select id="countPaging" resultType="int">
select count(id) from Board
where Board.BoardKindId=#{boardKindId}
		<if test="cri.keyword != null">
		<choose>
			<when test="cri.searchOption == 'all'">
				and content like CONCAT('%',#{cri.keyword},'%')
				or title like CONCAT('%',#{cri.keyword},'%')
			</when>
			<when test="cri.searchOption == 'title'">
				and title like CONCAT('%',#{cri.keyword},'%')
			</when>
			<!-- <when test="cri.searchOption == 'nickname'">
				and nickname like CONCAT('%',#{cri.keyword},'%')
			</when> -->
			<otherwise>
				and nickname like CONCAT('%',#{cri.keyword},'%')
			</otherwise>
		</choose>
		</if>
</select>

</mapper>