<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.codesquare.mapper.board.NewMapper">

	<select id="getAllNew" resultType="Board">
		SELECT * FROM codesquare.Board where BoardKindid='NewNt' order by id desc
	</select>
	
	<select id="getid" resultType="Board">
		SELECT * FROM codesquare.Board where id=#{id}
	</select>
	
	<select id="boardkindid" resultType="Board">
		SELECT * FROM codesquare.Board where BoardKindid=#{boardkindid}
	</select>
	
	<select id="insert" resultType="Board" parameterType="Board">
		INSERT INTO codesquare.Board (boardkindid, userId, nickname, title, content, Hit) VALUES 
		('NewNt', 'test112', #{nickName}, #{title}, #{content}, 0)
	</select>
	
	<update id="updateCount" parameterType="Board">
		update codesquare.Board set hit=hit+1 where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Board">
		delete from codesquare.Board where id=#{id}
	</delete>
	
	<update id="update" parameterType="Board">
		update codesquare.Board set title=#{title}, content=#{content} where id=#{id}
	</update>
	
	
		<select id="listCriteria" resultType="Board">
	<![CDATA[
			select
				id, userid, nickname, title, content, writedate, modifydate, hit
			from
				codesquare.Board
			where BoardKindid='NewNt'
			
			and id > 0
	]]>
			
	<![CDATA[	
			order by id desc, writedate desc
			limit #{pageStart}, #{perPageNum}
	]]>
	
	</select>
	
	<select id="countPaging" resultType="int">
	<![CDATA[
			select
				count(id)
			from
				Board
			where Board.BoardKindId='NewNt' > 0
		]]>
	</select>
	
</mapper>