<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/styles/lecture/lectureCustom.css}">
<link rel="stylesheet" type="text/css" href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap-select/1.13.3/css/bootstrap-select.min.css" th:href="@{/webjars/bootstrap-select/1.13.3/css/bootstrap-select.min.css}">
<link rel="stylesheet" type="text/css" href="@{/static/styles/hansolCustom.css}" th:href="@{/static/styles/hansolCustom.css}">
<link rel="stylesheet" type="text/css" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" href="/static/plugins/colorbox/colorbox.css" th:href="@{/static/plugins/colorbox/colorbox.css}" >
<link rel="stylesheet" type="text/css" href="/static/styles/main_styles.css" th:href="@{/static/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" href="/static/styles/responsive.css" th:href="@{/static/styles/responsive.css}"><link rel="stylesheet" type="text/css" href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap-select/1.13.3/css/bootstrap-select.min.css" th:href="@{/webjars/bootstrap-select/1.13.3/css/bootstrap-select.min.css}">
<link rel="stylesheet" type="text/css" href="@{/static/styles/hansolCustom.css}" th:href="@{/static/styles/hansolCustom.css}">
<link rel="stylesheet" type="text/css" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" href="/static/plugins/OwlCarousel2-2.2.1/owl.carousel.css" th:href="@{/static/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" href="/static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" th:href="@{/static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" href="/static/plugins/OwlCarousel2-2.2.1/animate.css" th:href="@{/static/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" href="/static/plugins/colorbox/colorbox.css" th:href="@{/static/plugins/colorbox/colorbox.css}" >
<link rel="stylesheet" type="text/css" href="/static/styles/main_styles.css" th:href="@{/static/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" href="/static/styles/responsive.css" th:href="@{/static/styles/responsive.css}">
</head>
<body>
	<div class="lecture-container">
		<div class="row">
			<div
				class="lecture-header col-sm-12 d-flex justify-content-between mb-2">
				<ol class="breadcrumb p-2">
					<li class="breadcrumb-item"><a href="#">강의</a></li>
					<li class="breadcrumb-item"><a href="#">자바의정석</a></li>
					<li class="breadcrumb-item active">변수</li>
				</ol>
				<div class="btn-group p-2">
					<button type="button" class="btn btn-secondary">
						<i class="fas fa-chevron-left"></i> 이전강의
					</button>
					<button type="button" class="btn btn-secondary">목록</button>
					<button type="button" class="btn btn-secondary">
						다음강의 <i class="fas fa-chevron-right"></i>
					</button>
				</div>
			</div>
			<div class="col-sm-12 lecture-body">
				<div class="col-sm-12 lecture-video"></div>
				<div class="col-sm-12 lecture-content"></div>
				<div class="col-sm-12 lecture-footer"></div>
			</div>
		</div>
	</div>
</body>
</html>