
/* CSS Document */

/******************************

[Page of Contents]

1. All
2. group-schedule
3. card-status
4. card-lecture
5. card-nomal
6. grid
7. accordion
8. bookmarkList
******************************/



/***********************
1. All
***********************/

.row {
	margin: 150px 0px;
}

.writeDate {
	text-align: center;	
}

.custom-tab-content {
	overflow:auto;
}

.custom-tab-content li {
	list-style-type: none;
}

/********************
2. group-schedule
********************/


/* nav-tabs custom CSS START */

/* .custom-tab .nav-tabs .nav-item .nav-link {
	border : none;
	border-radius: 0;
} */


.custom-tab .tab-content {
	height: 400px;
	padding: 0px;
	border : 1px solid rgba(0,0,0,.125);
	border-left : none;
}

.custom-tab .custom-tab-content .tab-pane {
	margin: 5px 0px;
}

.custom-tab .custom-tab-content .tab-pane .row {
	margin: 30px 0px;
}

.custom-tab .nav-pills.nav-custom-tabs .nav-link.active {
	background-color : white;
}

.custom-tab .nav-pills.nav-custom-tabs {
	padding: 0px;
	border-right: 1px solid rgba(0,0,0,.125);
}
.custom-tab .nav-pills.nav-custom-tabs .nav-item {
	margin-right: -1px;
	margin-bottom: -1px;
}
.custom-tab .nav-pills.nav-custom-tabs a {
	border-top : 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
}

.custom-tab .nav-pills.nav-custom-tabs li:last-of-type {
	border-bottom : 1px solid rgba(0,0,0,.125);
}

.nav-pills .nav-link.active {
	color : #4B0082;
}
.custom-tab .nav-pills.nav-custom-tabs .nav-link:not(.active) {
	background-color : whitesmoke;
	border-right: 1px solid rgba(0,0,0,.125);
}

/* nav-tabs custom CSS END */

.schedule-list {
	list-style-type: none;
	position: relative;
}

.schedule-list li a div {
	display: inline-block;
}

.list__scheduleId {
	width: 40%;
}

.list__boardKind {
	width: 18%;
	text-align: center;
}

.list__meetingDate {
	width: 13%;
	text-align: right;
}

.list__meetingDay {
	width: 10%;
	text-align: center;
}

.list__status {
	width: 15%;
	text-align: center;
}


.user-stats{
	text-align: center;
}




/**********
3. card-status
***********/

 .card {
      /* box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);  */
      box-shadow: 0 1px 4px 0 rgba(99, 97, 97, 0.14);
    }
 
 .card-deck .card-header {
   border-bottom: none;
   background: transparent;
 }

 .card-header p {
   margin-top: 0px;
   margin-bottom: 0px;
 }

 .card-header .card-title {
   margin-top: .75rem;
 }

 .card-stats .card-header {
   text-align: right;
 }

 .card-footer {
   display: flex;
   align-items: center;
   background-color: transparent;
   margin: 0 15px;
   border: 0;
   border-top: 1px solid #eee;
 }



 .card-icon {
   border-radius: 3px;
   padding: 15px;
   margin-top: -20px;
   margin-right: 15px;
   float: left;
   color: #fff;
 }

 .card-icon-pink {
   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(233, 30, 99, .4);
   background: linear-gradient(60deg, #ec407a, #d81b60)
 }

 .card-icon-orange {
   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4);
   background: linear-gradient(60deg, #ffa726, #fb8c00);
 }

 .card-icon-green {
   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(76, 175, 80, .4);
   background: linear-gradient(60deg, #66bb6a, #43a047);
 }

 .card-icon-blue {
   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(0, 188, 212, .4);
   background: linear-gradient(60deg, #26c6da, #00acc1);
 }

 .card-stats .card-header .card-icon i {
   font-size: 36px;
   line-height: 56px;
   width: 56px;
   height: 56px;
   text-align: center;

 }

 .card-category,
 .card-footer {
   color: #999;
   font-size: 14px;
 }
 
 
 
/**********
4. card-lecture
***********/

 .card-lecture .lecture-list {
   display: grid;
   grid-template-columns: auto auto auto auto auto auto;
   border-top: 1px solid #eee;
   margin: 0px 20px;
 }
 .lecture-list:first-of-type {
	 border-top: 0px solid #eee;	
 }

 .card-lecture .card-body p {
   margin-bottom: 8px;
 }

 .lecture-description,
 .lecture-progress {
   grid-column: span 3;
   padding: 10px 0px;
 }
 
 
 
 
/**********
5. card-nomal
***********/
 
 .card-nomal i {
     font-size: 20px;
     width: 30px;
     text-align: center;
 }

 
/**********
6. grid
***********/

 .card-nomal .card-grid {
     display: grid;
     grid-template-columns: 25% 25% 25% 25%;
     padding: 5px 0px;
 }

 .card-nomal .groupNotice {
     display: grid;
     grid-template-columns: 15% 25% 40% 20%;
 }


  .grpWkGrid {
     display: grid;
     grid-template-columns: 30% 50% 20%;
     padding: 5px 0px;
     text-align: left;
 }

 
 .bookmarkGrid {
     display: grid;
     grid-template-columns: 20% 50% 5% 15% 5% 5%;
     cursor: pointer;
 }
 
 .todoGrid {
     display: grid;
     grid-template-columns: 8% 65% 15% 5% 5% ;
 }
 
 
  .todoInputGrid {
     display: grid;
     grid-template-columns: 80% 10%;
     align-items: center;
 }
 

 /**********
7. accordion
***********/


 
 .accordion .card-header a {
	cursor: pointer;
 }
 
.accordion.acc-custom .card-header {
	padding: 5px 20px;
}


  /**********
 8. bookmarkList
 ***********/
 
 
 
 
 
   /**********
 9. todoList
 ***********/
  #custom-todoList .todoList {
	max-height: 400px;
	overflow:auto;
 }
 
 
 
 #custom-todoList .todo-li {
 	list-style-type: none;
 /* 	padding : 10px; */
 	margin-bottom: 5px;
 	border : 1px solid rgba(0,0,0,.125);
 	border-radius: 5px;
 	 	
 }
 
  #custom-todoList .todo-li span {
	padding : 5px; 
	margin : 5px; 
 	 	
 }
 
 
  #custom-todoList .todo-submit-btn{
  font-size: 40px;
 }

 #custom-todoList textarea {
 	resize: none
 }
 
  #custom-todoList .todoList input {
    font-size:14px;
    line-height:1.25em; 
    padding:5px; 
    margin:5px; 
 	border: 0;
 }
 
	
 #custom-todoList .todoList input[type=number]::-webkit-outer-spin-button,
 #custom-todoList .todoList input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 #custom-todoList .todoList input[type=number] {
    -moz-appearance: textfield;
}

.todoList i {
    font-size: 25px;
    padding : 8px 0px 2px 0px;
 
    text-align: center;
 }
 
 .todo-li:not(.td-check) i  {
    visibility: hidden;
    color: rgba(0,0,0,.125);
 }

.todoList .todo-li:hover {
  background: #f9f9f9;
   transition: 0.2s;
}
 
 .todoList .todo-li.td-check {
  background: #ddd;
  color: #fff;
}

 .todoList .todo-li.td-check .todo-content {
  text-decoration: line-through;
}
