@charset "UTF-8";

body {
	color: #321956;
}

main {
	position: fixed;
	background: #fff;
    margin-left: 4%;
    margin-right: 6%;
	
}
#wrapper {
	height:100%;
}

.container {
  height: 100%; 
  position: relative
}


.topMenubar {
	background: white;
	margin-left: 7%;
	z-index: 3;
	
}

#myPageContent {
	margin-left: 3%;
	padding-bottom: 50px;
	
}

#myPageContent a {
	color: #552796;
	text-decoration: none;
}

.container {
	color: #552796;
}

.container .nav-link {
	color: #552796;
}

.container .nav-link:hover {
	color: #716386;
}

.mybtn {
	border-radius: 50px;
	border: 1px solid #552796;
	color: #552796;
}

.mybtn:hover {
	background: #552796;
	color: white;
}

#accept-dialog, #decline-dialog, #cancel-dialog, #done-dialog {
	display: none;
	position: fixed;
	left: calc(50% - 160px);
	top: calc(50%);
	width: 320px;
	height: auto;
	background: #fff;
	border-radius: 20px;
	border: 1px #552796 solid;
	padding: 20px;
	z-index: 20;
	padding: 10px;
}

#accept-dialog-content, #decline-dialog-content, #cancel-dialog-content,
	#done-dialog-content {
	padding: 15px;
}

.sidebar {
    position: fixed;
    z-index: 1;
    height: auto;
    background: #fff;
    margin-top: 15px;
    margin-left: 3%;
    padding: 0 90px;
    padding-top: 18px;
    padding-bottom: 50px;
}

.rowCustom {
	margin-top: 120px;
}


.nav-item2 a {
	color : #552796;
}

.nav-item2>a {
    display: block;
    padding: .5rem 1rem;
}

.nav-item2 ul a {
    display: block;
    padding: 0 2rem;
}


