<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.codesquare.mapper.group.GroupMapper">
<!-- UserId는 임시로 'cksdud'으로 출력중 -->

	<!-- boardId로 해당 글의 groupInfo 얻기  -->
	<select id="getGroupInfoUseBoardId" resultType="GroupInfo">
		SELECT * FROM GroupInfo_view gv
		INNER JOIN Board AS bo ON gv.Id=bo.GroupId 
		WHERE bo.Id = #{boardId}
	</select>
	
	<!-- 유저가 리더인 그룹의 groupInfo 얻기 -->
	<select id="getGroupInfoUserLeader" resultType="GroupInfo">
		SELECT gmi.Id, gv.Id AS GroupId, gv.LevelId, gv.TagId, gv.LocaleId, gv.Coordinates, gv.MemberCount, gv.Goal, gv.Content, gv.StartDate, gv.RecruitmentCount, gv.MeetingDate  
		FROM GroupMemberInfo gmi 
		INNER JOIN GroupInfo_view gv ON gmi.GroupId = gv.Id
		WHERE gmi.`UserId`=#{userId} AND gmi.`AuthorId`=5;
	</select>	
	
	<!-- 유저가 해당 그룹에 가입중인지  탈퇴 할 때를 위해 테이블의 ID값 반환-->	
	<select id="getJoinningGroupId" resultType="java.lang.Integer">
		SELECT IFNULL(Id,0) FROM GroupMemberInfo 
		WHERE UserId=#{userId} AND GroupId=#{groupId}
	</select>
	
	<!-- 모집 글 등록 될 때 해당 모집 정보 update  -->
	<update id="updateWantedInfo" parameterType="WriteWantedBoard">
		UPDATE GroupInfo 
		SET RecruitmentCount=#{recruitmentCount}, ApplicationForm=#{applicationForm}
		WHERE Id=#{board.groupId}
	</update>
	
	<!-- 그룹에 신청하기  -->
	<insert id="insertStudyJoining" parameterType="JoiningAndRecruitmentLog">
		INSERT INTO JoiningAndRecruitmentLog(BoardId, ApplyUserId, Nickname, ApplyContent)
		VALUE (#{boardId}, #{applyUserId}, #{nickName}, #{applyContent});
	</insert>
	
		<!-- 그룹 신청 수락거절 상태 get하기  -->
	<select id="getApplyingStatus" resultType="String">
		SELECT Status FROM JoiningAndRecruitmentLog
		WHERE BoardId=#{boardId} AND ApplyUserId=#{applyUserId} limit 1
	</select>
	
	
	<!-- 신청 취소 -->
	<delete id="cancelApplication" parameterType="java.util.Map">
		DELETE FROM JoiningAndRecruitmentLog WHERE `ApplyUserId`=#{applyUserId} AND `BoardId`=#{boardId}
	</delete>
	
	
	
	<select id="test" resultType="JoiningAndRecruitmentLog">
		select * from JoiningAndRecruitmentLog where Id=20
	</select>


</mapper>