
/* CSS Document */

/******************************

[Page of Contents]

1. 게시판 리스트
2. 그룹 게시판 상세보기


******************************/



/***********************
1. 게시판 리스트
***********************/
	.row.boardList {
		display: contents;
	}
	
	.boardList li div {
		display: inline-block;
	}
	
	.stdMoGrid {
	     display: grid;
	     grid-template-columns: 3% 50% 10% 10% 10% 10% 7%;
	}
	
/***********************
2. 그룹 게시판 상세보기
***********************/
	.boardTitle {
	    border-bottom: 3px solid #000;
	    padding: 50px 0 25px;
	}
	.boardList li, .boardHeader, .boardContent, .commentContent {
	    border-bottom : 1px solid rgba(0,0,0,.125);	
        padding : 30px 0px;
	}
	
	.boardContent {
		min-height: 400px; 
   		 line-height: 1.75em;
	}
	.wantedContent {
		padding : 20px 10px;
	}

	.wantedContent, .comment-form {
		border : 1px solid rgba(0,0,0,.125);
	}
	
	.comment-textarea {
	    width: 100%;
	    height: 101px;
	    padding: 15px 10px 15px 20px;
	    background-color: #f9f9f9;
	    border: 0;
	}
	
	.comment-div, .groupContent {
		border-top: 1px solid rgba(0,0,0,.125);
	}
	
	.board-content, .groupContent {
		padding: 50px 0px;
	}
	
	.group-detail dt {
	    display: inline-block;
	    vertical-align: middle;
	    color: #787878;
	}
	
	.group-detail dd {
		margin: 0;
	}
	.group-detail-Grid {
		display: grid;
		grid-column-gap : repeat(2, 10px);
		grid-row-gap: 7px;
     	grid-template-columns: 15% 20% 15% 15% 15% 20% ;
	}
	
	.group-member-cnt {
		grid-column: span 4;
	}
	
	.group-goal, .group-content, .group-meeting, .group-startDate, .group-meetingTime{
		grid-column: span 5;
	}
	
	#group-apply-button, #bookmark-button, #group-creat-button, #group-skip-button {
	    /* display: block; */
	   /*  width: 100%; */
		margin-top: 10px;
		margin-bottom: 10px;
		border: 1px solid rgba(0,0,0,.125);
		line-height: 56px;
		text-align: center;
		cursor: pointer;
	}
	#group-creat-button, #group-skip-button {
		width: 80%;
	    margin: 5px auto 5px auto;
	}
	
	#wantedContent-title, #wantedContent-detail {
		padding : 24px 12px;
	}
	
	.group-meeting .tag-meetingDate {
	    border: 1px solid #6190b3;
	    color: #6190b3;
	    border-radius: 8px;
	   /*  font-size: .85rem; */
		/* font-weight: 600; */
	    padding: 3px 8px;
	    margin-right: 5px;
	}
	
	#group-apply-button{
		background: #4B0082;
		color: white;
	}

	#bookmark-button {
		position: relative;
		height: 58px;
		color: #4f4f4f;
	}
	
	#bookmark-button.checked {
		color: #4B0082;
		border-color: #4B0082;
	}
	
	#bookmark-button:hover {
		border-color: #4B0082;
		color: #4B0082;
	}
	
	.far.fa-heart, .fas.fa-heart {
		font-size: 25px;;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.far.fa-heart span, .fas.fa-heart span {
		font-size: 16px;
		vertical-align: middle;
	}
	
	/* 글쓰기 CSS  */
	.write-container #writeTitle {
	    width: 100%;
	    height: 50px;
	    padding: 5px 20px;
	    margin : 5px 0px 10px 0px ;
	}

  button {
    display: inline-block;
    position: relative;
    width:200px;
    height: 50px;
    text-align: center;
    color: #fff;
    align-items: flex-start;
    border-width: 1px;
    border-style: solid;
/*     border-color: buttonface; */
    border-image: initial;
  }
  
	#stdMo_cancle {
		background-color: #fff;
    	color: grey;
    	margin-top: 30px;
	}
	
	#stdMo_submit {
		background-color: #4B0082;
		margin-top: 30px;
	}
	.write-container H2, .write-container H3 {
		padding-top : 30px;
		padding-bottom: 20px;
/* 		border-bottom: 3px solid black; */
	}
	
	.groupSelect {
		height: inherit; 
	    padding: 40px 20px;
	    margin-top: 10px;
		border-top : 1px solid rgba(0,0,0,.125);
	}
	
	#card-groups {
		text-align: center;
		width: 20rem;
		height : 420px;
	    margin: 20px 0 24px 0;
	}
	
	#card-groups .card {
		height: inherit;
	}
	
	#card-groups .card-img-top {
	    width: 50%;
        margin-top: 50px;
        align-self: center;
	}
	#card-groups .card-button {
	    position: absolute;
	    bottom: 20px;
	    right: 0;
	    left: 0;
	    width: 80%;
	    margin: 0 auto;
	    color: white;
	}
	
	.has-group {
	    padding: 70px 0 50px;
	}
	
	.has-group i {
	    font-size: 70px;
	    padding-bottom : 20px;
	}
	
     hr {
        height: 10px;
        width: 20%;
        background-color: #4B0082;
        text-align: left;
        margin-left: 0;
        margin-botton : 25px;
        margin : 25px 0 30px 0;
		border-radius: 4px;
      }


	#Info-groups {
		padding-top: 10px;
		padding-left: 80px;
	    cursor: pointer;
	}
	
	#Info-groups .group-list .avatar {
		vertical-align: middle;
		width: 60px;
		height: 60px;
		align-self: center;
	/* 	border-radius: 50%; */
		margin-right: 25px;
	}
	
	#Info-groups .group-list .media-body {
	    border-bottom: 1px solid rgba(0,0,0,.125);
	    padding: 17px 0 17px;
	}
	
	#Info-groups .group-list:last-child .media-body  {
	    border-bottom: none;
	}
	
	#Info-groups .badge {
		vertical-align: text-bottom;
	    padding: 4px 7px;
	}
	
	#Info-groups h6 {
 	   margin-bottom: 20px;
	}
	
	.btn-div-main {
		background: #4B0082;
		color: white;
	}

	.btn-div-sub {
		color: #4f4f4f;
	}
	
	.group-details {
		color : grey;
	}
	
	#group-description {
        text-align: center;
        position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.return-button {
	    position: absolute;
	    right: 15px;
	    top: 15px;
        font-size: 25px;
		cursor: pointer;
	}
	
	.select-group-details {
		border : 1px solid rgba(0,0,0,.125);
	}
	
	#card-groups .card:not(#card_main) {
		display:none;
	}
	
	#Info-groups .info-list:not(#info_main) {
		display:none;
	}
	
	#info_main, #info_none {
	    height: 100%;
	}