
/* CSS Document */

/******************************

[Page of Contents]

1. 게시판 리스트
2. 그룹 게시판 상세보기
3. 스터디 모집 게시판
4. 스터디 신청 모달창


******************************/



/***********************
1. 게시판 리스트
***********************/
	.row.boardList {
		display: contents;
	}
	
	.boardList li div {
		display: inline-block;
	}
	
	.stdMoGrid {
	     display: grid;
	     grid-template-columns: 3% 50% 10% 10% 10% 10% 7%;
	}
	
/***********************
2. 그룹 게시판 상세보기
***********************/
	.boardTitle {
	    border-bottom: 3px solid #000;
	    padding: 50px 0 25px;
	}
	.boardList li, .boardHeader, .boardContent, .commentContent {
	    border-bottom : 1px solid rgba(0,0,0,.125);	
        padding : 30px 0px;
	}
	
	.boardHeader .nickname {
		text-align: right;
    	padding-right: 25px;
	}
	
	.boardHeader .like {
		width: 13%;
		text-align: right;
	}
	
	.boardHeader .hit {
		width: 10%;
		text-align: right;
	}
	
	.wantedContent {
	    padding: 20px 25px;
	}

	.wantedContent, .comment-form {
		border : 1px solid rgba(0,0,0,.125);
	}
	
	.comment-textarea {
	    width: 100%;
	    height: 101px;
	    padding: 15px 10px 15px 20px;
	    background-color: #f9f9f9;
	    border: 0;
	}
	
	#wantedContent-detail {
	text-align: center;
	}
	
	#wantedContent-detail #non-group {
		height: 100px;
	}
	
	#wantedContent-detail .font-weight-bold {
		padding-right: 30px;
	}
	
	#wantedContent-detail .groupId {
		margin : 30px 0 20px;
	}
	
	#wantedContent-detail img {
		    width: 130px;
    		height: 130px;
	}
	
	#wantedContent-detail .group-detail,
	#wantedContent-detail .seminar-detail {
		text-align:left;
	    display: inline-block;
	    margin: 0 auto;
        margin-top: 5%;
	}
	
	.comment-div {
		border-top: 1px solid r`ba(0,0,0,.125);
	}
	
	.groupContent {
		border-top: 1px solid rgba(0,0,0,.125);
		padding: 50px 60px 0px;
	    width: 100%;
	}
	
	.group-detail dt {
	    display: inline-block;
	    vertical-align: middle;
	    color: #787878;
	}
	
	.group-detail dd {
		margin: 0;
	}
	.group-detail-Grid {
		display: grid;
		grid-column-gap : repeat(2, 10px);
		grid-row-gap: 7px;
     	grid-template-columns: 15% 25% 10% 20% 10% 20%;
     	width: 100%;
	}
	
	.group-member-cnt {
		grid-column: span 4;
	}
	
	.group-goal, .group-content, .group-meeting, .group-startDate, .group-meetingTime{
		grid-column: span 5;
	}
	
	#bookmark-button, #group-creat-button, #group-skip-button,
	#group-ing-button, #group-in-button, #group-wait-button,
	#group-end-button, #group-close-button {
	    /* display: block; */
	   /*  width: 100%; */
		margin-top: 10px;
		margin-bottom: 10px;
		border: 1px solid rgba(0,0,0,.125);
		line-height: 56px;
		text-align: center;
		cursor: pointer;
	}
	
	#group-ing-button, #group-close-button {
		background: #4B0082;
		color: white;
	}
	
	#group-ing-button:hover, #group-close-button:hover {
		background-color: #402058;
		color: white;
	}
	
	#group-end-button {
	    background-color: #C0C0C0;
	    border-color: #C0C0C0;
	    color: white;
	}
	
	#group-wait-button {
	    background-color: #9d9baf;
	    border-color: #9d9baf;
	    color: #fefefe;
	}

	#group-wait-button:hover {
		background-color: #7d6f95;
		color: white;
	}
	

	
	#group-creat-button, #group-skip-button {
		width: 80%;
	    margin: 5px auto 5px auto;
	}
	
	#wantedContent-title, #wantedContent-detail {
		padding : 24px 12px;
	}
	
	.group-meeting .tag-meetingDate {
	    border: 1px solid #6190b3;
	    color: #6190b3;
	    border-radius: 8px;
	   /*  font-size: .85rem; */
		/* font-weight: 600; */
	    padding: 3px 8px;
	    margin-right: 5px;
	}
	

	#bookmark-button {
		position: relative;
		height: 58px;
		width:inherit;
		color: #4f4f4f;
	}
	
	#bookmark-button.checked, #group-in-button {
		color: #4B0082;
		border-color: #4B0082;
	}
	
	#group-in-button, #group-end-button {
		cursor : default;
	}
	
	#bookmark-button:hover {
		border-color: #4B0082;
		color: #4B0082;
	}
	
	

	
	.far.fa-heart, .fas.fa-heart {
		font-size: 25px;;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.far.fa-heart span, .fas.fa-heart span {
		font-size: 16px;
		vertical-align: middle;
	}
	
	#status-button>div {
		display: none;
	}
	
/***********************
3. 스터디 모집 게시판
***********************/
	.write-container #writeTitle {
	    width: 100%;
	    height: 50px;
	    padding: 5px 20px;
	    margin : 5px 0px 10px 0px ;
	}

	.custom-btn {
		display: inline-block;
		position: relative;
		width:200px;
		height: 50px;
		text-align: center;
		color: #fff;
		align-items: flex-start;
		border-width: 1px;
		border-style: solid;
		border-image: initial;
		background-color: #222;
	}
  	
  	#info-message {
 	 	vertical-align: baseline;
  	}
  	
  	#info-btn {
  	    padding: 0.4rem 0.3rem;
		font-size: 12px;
		line-height: 1;
	    margin-left: 2px;
  	}
  
	#stdMo_cancle {
		background-color: #fff;
    	color: grey;
    	margin-top: 30px;
	}
	
	#stdMo_submit {
		background-color: #4B0082;
		margin-top: 30px;
	}
	.write-container H2, .write-container H3 {
		padding-top : 30px;
		padding-bottom: 20px;
	}
	
	#card-groups {
		text-align: center;
		height : 500px;
		padding:0 50px;
	}
	
	#card-groups .card {
		height: inherit;
	}
	
	#card-groups .card-img-top {
	    width: 160px;
	    height:160px;
        margin-top: 30px;
        align-self: center;
	}
	#card-groups .card-button {
	    position: absolute;
	    bottom: 20px;
	    right: 0;
	    left: 0;
	    width: 80%;
	    margin: 0 auto;
	    color: white;
	}
	
	.has-group {
	    padding: 70px 0 50px;
	}
	
	.has-group i {
	    font-size: 70px;
	    padding-bottom : 20px;
	}
	
     hr {
        height: 10px;
        width: 20%;
        background-color: #4B0082;
        text-align: left;
        margin-left: 0;
        margin-botton : 25px;
        margin : 25px 0 30px 0;
		border-radius: 4px;
      }


	#Info-groups {
		padding-top: 10px;
		padding-left: 80px;
	    cursor: pointer;
	}
	
	#Info-groups .group-list .avatar {
		vertical-align: middle;
		width: 60px;
		height: 60px;
		align-self: center;
	/* 	border-radius: 50%; */
		margin-right: 25px;
	}
	
	#Info-groups .group-list .media-body {
	    border-bottom: 1px solid rgba(0,0,0,.125);
	    padding: 17px 0 17px;
	}
	
	#Info-groups .group-list:last-child .media-body  {
	    border-bottom: none;
	}
	
	#Info-groups .badge {
		vertical-align: text-bottom;
	    padding: 4px 7px;
	}
	
	#Info-groups h6 {
 	   margin-bottom: 20px;
	}
	
	.btn-div-main {
		background: #4B0082;
		color: white;
	}

	.btn-div-sub {
		color: #4f4f4f;
	}
	
	.group-details {
		color : grey;
	}
	
	#group-description {
        text-align: center;
        position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.return-button {
	    position: absolute;
	    right: 15px;
	    top: 15px;
        font-size: 25px;
		cursor: pointer;
	}
	
	.select-group-details {
		border : 1px solid rgba(0,0,0,.125);
	}
	
	#card-groups .card:not(#card_main) {
		display:none;
	}
	
	#form_used, #form_none {
	    padding: 6px 30px;
	}
	
	#Info-groups .info-list:not(#info_main) {
		display:none;
	}
	
	.info-list.groupContent {
		border-bottom: 1px solid rgba(0,0,0,.125);
	    position: absolute;
		top: 5px;
	}
	
	#info_main, #info_none {
	    height: 100%;
	}
	.form-row label {
		display: inline-block;
	    vertical-align: -webkit-baseline-middle;
	    margin-bottom: 0;
	    font-size: larger;
	}

	.m-btm20 {
		margin-bottom: 20px;
	}
	
	.large {
		font-size:x-large;
	}
	
	#applicationform {
		margin-top: 40px;
	}
	
	#applicationform-area {
		display:none;
		height: 250px;
		margin: 15px 0;
	}
	
	.applyTag:not(:first-child) {
		margin : 0 5px;
	}
	
	#applicationform .fa-window-close,
	#boardClosed-modal .fa-window-close {
		margin-left: 5px;
	}
	
	#applicationform input,
	#boardClosed-modal input {
		vertical-align: middle;
		border: 0;
		outline: 0;
		background: transparent;
		border-bottom: 1px solid #939393;
		padding: 0 10px 7px 10px;
		width: 150px;
		color: #3e3d3d;
	}
	
	.btn-purple {
		color: #fff;
	    background-color: #BDA1BB;
	    border-color: #BDA1BB;
	}
	
	.btn-purple:hover {
		color: #fff;
	    background-color: #a57ca2;
	    border-color: #a57ca2;
	}
	
	#group-select {
		margin-bottom: 100px
	
	}
	
	
	
/***********************
4. 스터디 신청,마감 모달창
***********************/



	#application-modal .modal-header,
	#boardClosed-modal .modal-header {
	    border-bottom-width: 0;
	}
	
	#application-modal .modal-body,
	#boardClosed-modal .modal-body {
   		 padding: 20px 30px;
   		 margin-bottom: 50px;
	}
	
	#application-modal .modal-left .card-img-top {
		margin: 0 auto 30px;
		display: inline-block;
		width: 160px;
		height: 160px;
	}
	
	#application-modal .modal-left {
        text-align: center;
	}
	
	#application-modal .modal-right {
		padding-right: 35px;
	}

	#application-modal .modal-right .form-value,
	#boardClosed-modal .declineContent {
		border-bottom: 1px solid #C0C0C0;
		color: #3e3d3d;
		width : 85%;
		margin-bottom: 15px;
	}
		
	.modal-right #applicationform input::placeholder,
	 #boardClosed-modal input::placeholder {
		color: #a1a1a1;
		font-style: italic;
		font-size: 15px;
	}
	
	#boardClosed-modal .modal-body {
		margin: 0 auto;
	    display: inline-grid;
	    padding-bottom: 9%;
	}
	
	.declineContent {
	    margin: 8% auto 3%;
	    width: 96%
	}
	
	.btn-deepPurple {
		color: #f3f3f3;
	    background-color: #4B0082;
	    border-color: #4B0082;
	}
	
	.btn-deepPurple:hover {
		color: #f3f3f3;
	    background-color: #402058;
	    border-color: #402058;
	}
	
	#submitApply, #submitClose {
		border-radius: 23px;
	    padding: 8px 40px;
	    display: block;
		margin: 30px auto 0px auto;
	}
	
	#modal-group-detail-Grid {
		display: grid;
		grid-template-columns: 15% 85%;
		text-align: left;
 		grid-column-gap : repeat(2, 10px);
		grid-row-gap: 11px; 
		padding-left: 45px;
	    margin-top: 5%;
	}
	
	#modal-group-detail-Grid span {
		grid-column: span 1;
	}
	
	#boardEdit-content {
		display: inline-block;
	}

	
	.boardDetail .board-content {
		 line-height: 1.75em;
	     padding: 50px 0 70px;
	}
	
	.svgIMG {
	    width: 30%;
	    margin: 0 auto 11%;
	}
	
	
		/* ############# 그룹 개설 부분 ################ */
		
	
#groupOpening-modal .modal-header {
   border-bottom-width: 0;
}

#groupOpening-modal .modal-body {
	padding: 20px 30px;
    margin: 0px 70px;
    display: inline-grid;
}

#groupOpeningForm div {
	margin-bottom: 10px;
}
#groupOpeningForm input::placeholder {
	color: #a1a1a1;
	font-style: italic;
	font-size: 15px;
}

#groupOpening-modal input {
	vertical-align: middle;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #939393;
	padding: 0 10px 7px 10px;
	width: 40%;
	color: #3e3d3d;
}

.opening-key {
    margin-right: 20px;
    text-align: right;
    display: inline-block;
    width: 50%;
}

select {
	width:130px;
    padding: .3em .5em; /* 여백으로 높이 설정 */
  /*   background: url('이미지 경로') no-repeat 95% 50%; 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid #999;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
   /*  -webkit-appearance: none; 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

.form-meetingDay{
/* 	width : 30px; */
	display:none;
	-webkit-appearance: button;
}

.tag-Cus {
    border: 1px solid #4B0082;
    color: #4B0082;
    border-radius: 8px;
   /*  font-size: .85rem; */
	/* font-weight: 600; */
    padding: 3px 8px;
    margin-right: 5px;
}

input[type="radio"]:checked:{ font-weight: bold; } 
input:checked+span { 
	background-color: #4B0082;
	color:white;
	} 
input:not(:checked)+span{
	background-color: white;
	color:#4B0082;
}