<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="layout/mainLayout2"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/static/styles/indexCustom.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/styles/main/mainHeader.css}">
</head>
<body>
	<div class="container" layout:fragment="content">
	
		<div class="search_box_container d-flex flex-row align-items-center justify-content-start" style="background-color: #5b2e7d">
							<div class="search_form_container">
								<form action="search" id="search_form" class="search_form">
									<div class="">
										<ul class="search_form_list d-flex flex-row align-items-center">
											<input type="text" id="testDatepicker" placeholder="연도/월/일" style="height: 60px" autocomplete="off">
											<select name="searchOption" style="height: 60px" id="lstFavorites">
												<option value="address">지역</option>
												<option value="address">강남구</option>
												<option value="address">서초구</option>
												<option value="address">금천구</option>
												<option value="address">종로구</option>
												<option value="address">수원시</option>
												<option value="address">안산시</option>
												<option value="companyname">스터디룸 이름</option>
											</select>
												<input type="text" name="keyword" value="" size="50" placeholder="ex) 강남, 수원" style="height: 60px" id="txtFavorite">
												<input id="btn-mainsearch" type="submit" value="검색" style="height: 62px; width:12%; border: 1px solid #542672; border-radius: 5px;  color: #542672;">
										</ul>
									</div>
								</form>
							</div>
						</div>

		<div class="row quickButton">
			<div class="quickBox col-sm-1 col-md-2">
				<img class="quick_btn_img" th:src="@{static/images/map_pin.png}"
					alt="내주변" /><span>내주변</span>
			</div>
			<div class="quickBox col-sm-1 col-md-2">
				<img class="quick_btn_img" th:src="@{static/images/map_pin.png}"
					alt="리눅스" /><span>리눅스</span>
			</div>
			<div class="quickBox col-sm-1 col-md-2">
				<img class="quick_btn_img" th:src="@{static/images/map_pin.png}"
					alt="자격증" /><span>자격증</span>
			</div>
			<div class="quickBox col-sm-1 col-md-2">
				<img class="quick_btn_img" th:src="@{static/images/map_pin.png}"
					alt="웹개발" /><span>웹개발</span>
			</div>
		</div>
		<div class="recommand_item_container">
			<a class="recommand_item_link" href="#" th:each="item:${riList}"><span
				class="recommand_item" th:text="${item.title}"></span></a>
		</div>
		<div>
			<br /> <br /> <br /> <br />
		</div>
		<div class="container mt-3">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">

				<!-- Indicators -->
				<ul class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ul>

				<!-- The slideshow -->
				<div id="lectureCarousel" class="carousel-inner" style="text-align: center;">
					<div class="carousel-item" th:each="item:${recommandLecutreList}">
						<a th:href="@{/learn/intro/}+${item.id}" >
						<img th:src="@{${item.thumbnailPath}}" alt="" width="1100" height="500">
						<div class="carousel-caption">
							<h3 th:text="@{${item.title}}"></h3>
							<p th:text="@{${item.introContent}}"></p>
						</div>
						</a>
					</div>
					
				</div>

				<!-- Left and right controls -->
				<a class="carousel-control-prev" href="#myCarousel"
					data-slide="prev"> <span class="carousel-control-prev-icon"></span>
				</a> <a class="carousel-control-next" href="#myCarousel"
					data-slide="next" > <span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
		<div class=" container">
			<div class="row">
				<!-- Nav tabs -->
				<div class="board_table col-sm-6">
					<h5>QuickBoard</h5>
					<ul class="nav nav-tabs" role="tablist">
						<li id="ComFr" class="quickBoard nav-item"><a
							class="nav-link active" data-toggle="tab" href="#home">자유</a></li>
						<li id="ComQa" class="quickBoard nav-item"><a
							class="nav-link" data-toggle="tab" href="#home">질문</a></li>
						<li id="ComIt" class="quickBoard nav-item"><a
							class="nav-link" data-toggle="tab" href="#home">IT Forum</a></li>
						<li id="StdMo" class="quickBoard nav-item"><a
							class="nav-link" data-toggle="tab" href="#home">스터디모집</a></li>
						<li id="SmmMo" class="quickBoard nav-item"><a
							class="nav-link" data-toggle="tab" href="#home">세미나모집</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div id="pane"	class="list-group list-group-flush container tab-pane active">
						</div>
					</div>
				</div>
				<div class="board_table  col-sm-6">
					<h5>IT News</h5>
					<div id="itpane" class="list-group list-group-flush container tab-pane active" style="position: relative;top: 41px;"></div>
				</div>
			</div>
		</div>

		<div>
			<br /> <br /> <br /> <br />
		</div>
		
		<th:block layout:fragment="script">
		<script th:src="@{/webjars/jquery/3.3.1/dist/jquery.js}"></script>
			<script th:src="@{/static/js/mainCustom.js}"></script>
			<script th:src="@{/static/js/main/main.js}"></script>
				<link href="static/styles/room/datepicker.min.css" rel="stylesheet" type="text/css">
			<script src="static/js/room/datepicker.min.js"></script>
			<script src="static/js/room/i18n/datepicker.en.js"></script>
		</th:block>
	</div>
	<!-- end content -->



</body>
</html>