<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/mainLayout"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>로그인</title>

</head>
<body>
	<div class="container" layout:fragment="content">
		<br /> <br /> <br />
		<div class="col-md-5 mx-auto">
			<div class="myform form ">
				<div class="logo mb-3">
					<div id="codesquare" class="col-md-12 text-center">
						<br />
						<h1>
							<i>CodeSquare</i>
						</h1>
						<br />
					</div>
					<div id="loginError" th:if="${param.error}">
						<i class="fas fa-exclamation-triangle"></i> 아이디 혹은 비밀번호가 일치하지
						않습니다.
					</div>
				</div>
				<form th:action="@{/member/login}" method="post" name="login">
					<div class="form-group">
						<label for="userId">아이디</label> <input type="text" name="userId"
							class="form-control" id="userId"> <span class="small"
							id="checkId"></span>
					</div>
					<div class="form-group">
						<label for="password">비밀번호</label> <input type="password"
							name="password" id="password" class="form-control">
					</div>
					<div class="form-group">
						
						<p class="text-center">
							By signing up you accept our <a href="#">Terms Of Use</a>
						</p>
						
					</div>
					<div class="col-md-12 text-center ">
						<button type="submit" class="btn btn-block mybtn tx-tfm">로그인</button>
						<p class="text-center py-2"><br />
							<a th:href="@{/member/findIdPw}">아이디 / 비밀번호 찾기</a>
						</p>
					</div>
					<div class="col-md-12 ">
						<div class="login-or">
							<hr class="hr-or">
							<span class="span-or">or</span>
						</div>
					</div>
					<div class="col-md-12 mb-3">
						<p class="text-center">
							<a th:href="@{/login/google}" class="social google btn mybtn"><i
								class="fab fa-google"></i> 구글로 로그인하기 </a>
						</p>
					</div>
					<div class="col-md-12 ">
						<p class="text-center">
							<a th:href="@{/login/facebook}" class="social facebook btn mybtn"><i
								class="fab fa-facebook-f"></i> 페이스북으로 로그인 하기 </a>
						</p>
					</div>
					<div class="col-md-12 ">
						<div class="login-or">
							<hr class="hr-or">
							<span class="span-or">or</span>
						</div>
					</div>
					<div class="form-group py-2">
						<p class="text-center">
							아이디가 없으신가요? <a th:href="@{/member/signUp}" id="signup">회원가입</a>
						</p>

					</div>
				</form>

			</div>
		</div>
		<th:block layout:fragment="script">
			<script th:src="@{/webjars/jquery/3.3.1/dist/jquery.js}"></script>
			<script th:src="@{/static/js/member/login.js}"></script>
		</th:block>
		<th:block layout:fragment="css">
			<link rel="stylesheet" type="text/css"
				th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
			<link rel="stylesheet" type="text/css"
				th:href="@{/webjars/font-awesome/5.7.1/css/all.min.css}" />
			<link rel="stylesheet"
				href="https://fonts.googleapis.com/css?family=Nanum+Gothic">
			<link rel="stylesheet" type="text/css"
				th:href="@{/static/styles/member/login.css}">
		</th:block>
	</div>


</body>
</html>