@charset "UTF-8";


.inner nav {
	float: left;
	width: 25%;
	background: green;
	padding: 20px;
}

.inner article {
	padding-top: 50px;
	float: left;
	width: 60%;

}

.inner article ul {
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 0;
	margin: 0;
}

.inner article  li {
  padding:10px;
  line-height: 40px;
  font-family: sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #ddd;
  display: inline;
  transition: .2s background-color;
}

.inner article  li:hover {
	background-color: #66a;
}

.inner article  li.active {
	background-color: #ccf;
	color: #444;

}