@charset "UTF-8";
.jumbotron{
  background-image:url("indexContainer.gif");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.lead{
  color:white;
  font-weight:bold;
}
.display-3{
  color:#A9BCF5;
}

.carousel-caption{
    background: black;
    opacity: .7;
    width: 100%;
    margin: auto;
	left:0;
	
}
.quickBox i:hover{
	font-size: 55px;
	color:#5b2e7c;
	cursor: pointer;
}
.quickButton>div>a{
	all:unset;
}