<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/mainLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>스터디모집</title>

<style>
	
	.row.boardList{
		display: contents;
	}
	
	.boardList li{
	    border:1px solid rgba(0,0,0,.125);	
        padding: 10px 20px;
	}
	
	.boardList li div {
		display: inline-block;
	}
	
	.stdMoGrid{
	     display: grid;
	     grid-template-columns: 3% 50% 10% 10% 10% 10% 7%;
	}
	
	
	
</style>
</head>

<body>
	<!-- START content -->
    <article class="content" layout:fragment="content">
    	<div class="container">
    	<th:block th:with="url=${#httpServletRequest.requestURI}">
    		
    		<h1>스터디모집 글쓰기 게시판</h1>
 <!-- ####################    글쓰기 테스트를 위한 임시 버튼      ##################### -->
					<a th:href="@{/studyWanted/writeView}">글쓰기 TEST </a>
					<a th:href="@{/studyWanted/createGroup}">그룹 개설하기 </a>
		
		
			<!-- 게시판 리스트 -->
			<div class="row boardList">
				<ul>
					<li class="stdMoGrid" th:each="list : ${boardList}">
						<span th:text="*{list.id}"></span>
						<div>
							<a th:href="|${url}/*{list.id}|" th:text="*{list.title}"></a>
							<span th:text="*{list.fileCount}"></span>
							<span th:text="*{list.imageCount}"></span>
							<span th:text="*{list.commentCount}"></span>
						</div>
						<span th:text="*{list.status} eq 1?'':'마감'"></span>
						<span th:text="*{list.groupId}"></span>
						<span th:text="*{list.nickName}"></span>
						<span th:text="*{list.writeDate}"></span>
						<div>
							<span th:text="*{list.likeCount}"></span>
							<span th:text="*{list.hit}"></span>
						</div>
						
					</li>
				</ul>
			</div>
			
    	</th:block>
    	</div>
		<!-- div container 종료-->

	</article>
	<!-- END content -->
-
</body>
</html>