<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/myPageLayout"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
</head>
<body>
<div class="container" layout:fragment="myPageContent">
	<div id="changePw" class="container">
		<br />
		<h3>비밀번호 변경하기</h3>
		<br />

		<div class="row py-2 ">
			<div class="col-md-3 py-2 small text-right">
				<input type="hidden" id="userId" name="userId"
					th:value="${session.userId}"> 비밀번호
			</div>
			<div class="col-md-5 py-2">
				<input type="password" id="password" name="password" required>
			</div>
		</div>

		<div class="row py-2">
			<div class="col-md-3 py-2 small text-right">비밀번호 확인</div>
			<div class="col-md-5 py-2">
				<input type="password" id="rePassword" name="rePassword" required><br />
				<span id="pwCheckMsg"></span>
			</div>

		</div>

		<div class="row py-2">
			<div class="col-md-8 py-2 text-right small">
				<button class="mybtn px-3 py-1" id="pwValidate">변경하기</button>
			</div>
		</div>
	</div>

	<!-- 모달창 -->

	<div id="done-dialog" class="jumbotron">
		<div id="done-close" class="text-right">
			<i class="fas fa-times align-top "></i>
		</div>
		<div id="done-dialog-content" class="text-center"></div>
	</div>
</div>
</body>
</html>

