<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/myPageLayout"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>마이페이지</title>

</head>
<body>
	<div class="container" layout:fragment="myPageContent">
<!-- 
				<div class="tab-content">
					<div id="myReservedList" class="container tab-pane active">
						<br />
						<h3>나의 예약 및 결제 내역</h3>
						<br />
						<div class="row text-center p-2 shadow-sm">
							<div class="col-2">예약날짜</div>
							<div class="col-4">예약내역</div>
							<div class="col-2">결제금액</div>
							<div class="col-2">결제일</div>
							<div class="col-2">예약시간</div>
						</div>
						<div class="row text-center border-bottom  "
							th:each="rlist : ${rlist}">
							<div class="col-2" th:text="${rlist.reservationdate}"></div>
							<div class="col-2" th:text="${rlist.roomname}"></div>
							<div class="col-2" th:text="${rlist.payamount}"></div>
							<div class="col-2" th:text="${rlist.paymentdate}"></div>
							<div class="col-2" th:text="${rlist.reservationtime}"></div>
						</div>
						페이징 
			<div class="row pt-2 ">
				<div class="col-12">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:if="${pageMaker.prev} == true"><a
							class="page-link"
							th:href="@{/member/receivedMessage(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum}, keyword=${pageMaker.cri.keyword})}">&laquo;</a>
						</li>

						<li class="page-item"
							th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
							th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
							<a class="page-link"
							th:href="@{/message/receivedMessage(page=${idx},perPageNum=${pageMaker.cri.perPageNum},  keyword=${pageMaker.cri.keyword})}"
							th:text="${idx}" th:if="${idx}"></a>
						</li>

						<li class="page-item"
							th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
							<a class="page-link"
							th:href="@{/message/receivedMessage(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum}, keyword=${pageMaker.cri.keyword})}">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
					</div>
					<div id="myAppliedList" class="container tab-pane fade">
						<br />
						<h3>나의 신청 내역</h3>
						<br />
						<div class="row text-center small p-2 shadow-sm">
							<div class="col-2">신청날짜</div>
							<div class="col-5">신청내역</div>
							<div class="col-3">신청메세지</div>
							<div class="col-2">상태</div>
						</div>
						<div class="row border-bottom text-center py-2"
							th:each="alist : ${alist}">
							<span hidden id="aApplyUserId" th:text="${alist.applyUserId}"></span>

							<div class="col-md-2"
								th:text="${#dates.format(alist.applyDate, 'yy-MM-dd')}"></div>
							<div class="col-md-5" th:text="${alist.title}"></div>
							<div class="col-md-3" th:text="${alist.applyContent}"></div>
							<div class="col-md-2" th:if="${alist.status} ==''">
								<button id="cancelApply" class="mybtn px-3 py-1 small">취소</button>

								취소 모달창

								<div id="cancel-dialog" class="jumbotron">
									<div id="cancel-close" class="text-right">
										<i class="fas fa-times small align-top "></i>
									</div>
									<div id="cancel-dialog-content" class="text-center">
										<span hidden id="aNickName" th:text="${alist.nickName}"></span>
										<span hidden id="aBoardId" th:text="${alist.boardId}"></span>
										<span id="aTitle" th:text="${alist.title}"></span><br /> <span
											id="aApplyContent" th:text="${alist.applyContent}"></span> <br />
										<br /> 신청을 취소하시겠습니까?<br /> <br />
										<button class="mybtn small cancelAppBtn">신청취소</button>
										<br />
									</div>
								</div>


							</div>
							<div class="col-md-2" th:unless="${alist.status} =='' ">

								<div th:if="${alist.status} == '거절'">
									<span th:text="${alist.status}"></span> <a
										data-toggle="popover" title="거절 사유"
										th:data-content="${alist.declineContent}"><i
										class="fas fa-info-circle"></i></a>
								</div>

								<div th:unless="${alist.status} == '거절'">
									<span th:text="${alist.status}"></span>
								</div>

							</div>
						</div>

					</div>


					<div id="myWantedList" class="container tab-pane fade">
						<br />
						<h3>나의 모집 내역</h3>
						<br />
						<div class="accordion" id="wantedList">

							<div class="row text-center small shadow-sm py-2">
								<div class="col-md-6">글제목</div>
								<div class="col-md-4">작성일</div>
								<div class="col-md-2">상태</div>
							</div>

							<div th:each="wlist : ${wlist}" id="'heading'+${wlist.id}">
								<div class="row text-center border-bottom  py-2"
									data-toggle="collapse" th:data-target="'#body'+${wlist.id}"
									aria-expanded="true" aria-controls="'body'+${wlist.id}">
									<div class="col-md-6" th:text="${wlist.title}"></div>
									<div class="col-md-4"
										th:text="${#dates.format(wlist.writeDate, 'yy-MM-dd')}"></div>
									<div class="col-md-2"
										th:text="${wlist.status} == 0 ? '모집중' : '모집완료'"></div>

								</div>

								<div th:id="'body'+${wlist.id}" class="collapse"
									th:aria-labelledby="'heading'+${wlist.id}"
									data-parent="#wantedList">

									스터디 모집인 경우

									<div th:if="${wlist.boardKindId} == 'StdMo'">
										<div class="row text-center small py-1">
											<div class="col-md-3">신청자</div>
											<div class="col-md-4">신청내역</div>
											<div class="col-md-2">신청일</div>
											<div class="col-md-3">상태</div>
										</div>


										<div class="row text-center py-1"
											th:each="plist : ${wlist.wantedPlist}">
											<div class="col-md-3">
												<span th:text="${plist.nickName}"></span><br />
												<div class="small">
													(<span th:text="${plist.applyUserId}"></span>)
												</div>
											</div>
											<div class="col-md-4 " th:text="${plist.applyContent}"></div>

											<div class="col-md-2"
												th:text="${#dates.format(plist.applyDate, 'yy-MM-dd')}"></div>
											<div class="col-md-3" id="moStaus"
												th:if="${plist.status} =='' ">

												<button id="acceptMo" class="mybtn px-2 py-1 small">수락</button>
												<button id="declineMo" class="mybtn px-2 py-1 small">거절</button>
												수락모달창
												<div id="accept-dialog" class="jumbotron">
													<div id="accept-close" class="text-right">
														<i class="fas fa-times small align-top "></i>
													</div>
													<div id="accept-dialog-content" class="text-center">
														<span hidden id="pBoardId" th:text="${plist.boardId}"></span>
														<span hidden id="pApplyUserId"
															th:text="${plist.applyUserId}"></span> <span
															id="pApplyUserNick" th:text="${plist.nickName}"></span>님의
														<span th:text="${plist.applyContent}"></span> <br /> <br />신청을
														수락하시겠습니까?<br /> <br />
														<button id="acceptMoBtn" class="mybtn small">수락</button>
													</div>
												</div>

												거절모달창
												<div id="decline-dialog" class="jumbotron">
													<div id="decline-close" class="text-right">
														<i class="fas fa-times small align-top"></i>
													</div>
													<div id="decline-dialog-content" class="text-center">
														<span th:text="${plist.nickName}"></span>님의 <span
															th:text="${plist.applyContent}"></span> <br /> 신청을
														거절하시겠습니까?<br /> <span id="declineMsg" class="small"></span>
														<br /> 거절사유: <input type="text" name="declineContent">
														<br /> <br />
														<button id="declineMoBtn" class="mybtn small">거절</button>
													</div>
												</div>


											</div>
											<div class="col-md-3" th:unless="${plist.status} =='' ">
												<div th:text="${plist.status}"></div>
											</div>
										</div>
									</div>
									세미나 모집인 경우
									<div th:unless="${wlist.boardKindId} == 'StdMo'">
										<div class="row text-center small py-1">
											<div class="col-md-3">신청자</div>
											<div class="col-md-5">신청내역</div>
											<div class="col-md-2">신청일</div>
											<div class="col-md-2">상태</div>
										</div>

										<div class="row text-center py-1"
											th:each="plist : ${wlist.wantedPlist}">
											<div class="col-md-3">
												<span id="applyUserNick" th:text="${plist.nickName}"></span><br />
												<div class="small">
													(<span th:text="${plist.applyUserId}"></span>)
												</div>
											</div>
											<div class="col-md-5" th:text="${plist.applyContent}"></div>

											<div class="col-md-2"
												th:text="${#dates.format(plist.applyDate, 'yy-MM-dd')}"></div>
											<div class="col-md-2" th:text="${plist.status}"></div>
										</div>
									</div>



								</div>
								accordian body
							</div>
							end wlist  

						</div>
						end accordian  
					</div>
					end myWantedList div


					<div id="myBoardList" class="container tab-pane fade">
						<br />
						<h3>내가 쓴 글</h3>
						<br />


						<div class="row border-bottom text-center py-2"
							th:each="blist : ${blist}">
							<div class="col-md-2 small">
								<span th:text="${blist.boardName}"></span>
							</div>
							<div class="col-md-4">
								<span th:text="${blist.title}"></span> [<span class="small"
									th:text="${blist.commentCount}"></span>]
								<span th:if="${blist.imageCount} != 0"><i class="far fa-image"></i></span>
							</div>
							<div class="col-md-2 small">
								<span th:text="${blist.nickName}"></span>
							</div>
							<div class="col-md-2 small"
								th:text="${#dates.format(blist.writeDate, 'yy-MM-dd')}"></div>
							<div class="col-md-1 small">
								<i class="far fa-eye"></i> <span th:text="${blist.hit}"></span>
							</div>
							<div class="col-md-1 small">
								<i class="fas fa-heart"></i> <span th:text="${blist.likeCount}"></span>
							</div>

						</div>
					</div>
					<div id="modifyMyInfoForm" class="container tab-pane fade">
						<br />
						<h3>내 정보 수정</h3>
						<br />
						<div id="modifyMyInfoForm">
							<div class="social" style="display: none;">
								<div class="row py-2">
									<div class="col-md-2 small text-right">아이디</div>
									<div class="col-md-2 small" th:text="${user.userId}"></div>
								</div>
								<div class="row py-2">
									<div class="col-md-2 small  text-right">이름</div>
									<div class="col-md-2 small " th:text="${user.name}"></div>
								</div>

								<div class="row py-2">
									<div class="col-md-2 small  text-right">생년월일</div>
									<div class="col-md-2 small " th:text="${user.dateOfBirth}">
									</div>
								</div>
							</div>
							<div class="row py-2">
								<div class="col-md-2 small  text-right">닉네임</div>
								<div class="col-md-4 small" id="nickField"
									th:text="${user.nickName}"></div>
								<div class="col-md-2 small">
									<span id="openCN"><i class="fas fa-chevron-down"></i></span>
								</div>
							</div>

							<div class="row py-2" id="changeNickForm">

								<div class="col-md-2 px-3 small text-right"></div>
								<div class="col-md-6 small">
									<input type="text" id="nickName" name="nickName">
									<button class=" mybtn px-3 py-1" id="nickValidate">
										변경하기</button>
									<br />
									<div class="py-2" id="nickCheckMsg">
										<i class='fas fa-info-circle'></i> 닉네임은 한글,영문자, 숫자를 포함한 2자 이상
										10자 이하
									</div>
								</div>
							</div>
							<div class="social row py-2" style="display: none;">
								<div class="col-md-2 small  text-right">이메일</div>
								<div class="col-md-4 small" id="emailField"
									th:text="${user.email}"></div>
								<div class="col-md-2 small">
									<span id="openCE"> <i class="fas fa-chevron-down"></i></span>
								</div>
							</div>

							<div class="row py-2" id="changeEmailForm">

								<div class="col-md-2 px-3 small text-right"></div>
								<div class="col-md-6 small">
									<input type="text" id="email" name="email">
									<button class="mybtn px-3 py-1" id="emailValidate">
										변경하기</button>
									<br />
									<div class="py-2" id="emailCheckMsg"></div>
								</div>
							</div>
						</div>

						<form id="uploadProfileForm" method="post"
							enctype="multipart/form-data">
							<div class="row py-2">
								<div class="col-md-2 small  text-right">프로필</div>
								<div class="col-md-8">
									<img th:src="@{${session.profileImagePath}}" class="profileImg"
										id="profileImg" style="width: 100px; height: 100px" /> <br />
									<br /> <input type="file" id="uploadProfile"
										name="uploadProfile">
									<input type="button" class="small mybtn px-3 py-1 " id="uploadDone" value="변경하기">
								</div>


							</div>
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
						</form>

					</div>
					<div id="toInstructorForm" class="container tab-pane fade">
						<br />
						<h3>강사 전환 신청하기</h3>
						<br />
						<div class="row py-2">
							<div class="col-md-3 small text-right">
								<input type="hidden" name="userId" th:value="${session.userId}">
								신청 내역
							</div>
							<div class="col-md-6 ">
								<div id="appliedIC" style="display: none;">
									<input type="hidden" id="checkInstructor"
										th:value="${checkInstructor}">
									<div
										th:text="${checkInstructor} == 0 ? '' : ${instructorInfo.introContent}"></div>
									<h4>
										<br />심사중<br /> <br />
									</h4>
								</div>


								<div id="applyIC" style="display: none;">

									<textarea name="introContent" rows="10" cols="40"> </textarea>
									<br />
									<div class="small text-right py-2">
										<button class="mybtn px-3 py-1" id="toInstructorDone">신청하기</button>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div id="modifyInstructorInfoForm" class="container tab-pane fade"
						sec:authorize="hasRole('ROLE_2')">
						<br />
						<h3>강사 정보 수정하기</h3>
						<br />

						<div class="row py-2">
							<div class="col-md-3 small text-right">강사 소개글</div>
							<div class="col-md-7" th:text="${instructorInfo.introContent} "></div>
							<div class="col-md-2">
								<i id="openIC" class="fas fa-chevron-down"></i>
							</div>
						</div>
						<div class="row py-2" id="introContentForm">
							<div class="col-md-3"></div>
							<div class="col-md-7">
								<textarea id="introContent" name="introContent" rows="10"
									cols="40" th:text="${instructorInfo.introContent}">
								</textarea>
							</div>
						</div>
						<div class="row ">
							<div class="col-md-3 text-right small py-2">강사 이력</div>
							<div class="col-md-7" th:text="${instructorInfo.history}"></div>
							<div class="col-md-2">
								<i id="openHS" class="fas fa-chevron-down"></i>
							</div>
						</div>
						<div class="row  py-2" id="instructorHistoryForm">
							<div class="col-md-3 text-center small py-2">강사 이력</div>
							<div class="col-md-7 py-2">
								<textarea id="history" name="history"
									th:text="${instructorInfo.history}" rows="10" cols="40">
								</textarea>
							</div>
						</div>
						<div class="row py-2">
							<br /> <br />
							<div class="col-md-12 small text-right ">
								<br />
								<button class="mybtn px-3 py-1" id="modifyInstructorInfoDone">수정하기</button>
							</div>
						</div>
					</div>
					<div id="changePwForm" class="social container tab-pane fade"
						style="display: none;">
						<br />
						<h3>비밀번호 변경하기</h3>
						<br />

						<div class="row py-2 ">
							<div class="col-md-3 py-2 small text-right">
								<input type="hidden" id="userId" name="userId"
									th:value="${session.userId}"> 비밀번호
							</div>
							<div class="col-md-5 py-2">
								<input type="password" id="password" name="password" required>
							</div>
						</div>

						<div class="row py-2">
							<div class="col-md-3 py-2 small text-right">비밀번호 확인</div>
							<div class="col-md-5 py-2">
								<input type="password" id="rePassword" name="rePassword"
									required><br /> <span id="pwCheckMsg"></span>
							</div>

						</div>

						<div class="row py-2">
							<div class="col-md-8 py-2 text-right small">
								<button class="mybtn px-3 py-1" id="pwValidate">변경하기</button>
							</div>
						</div>
					</div>

				모달창

				<div id="done-dialog" class="jumbotron">
					<div id="done-close" class="text-right">
						<i class="fas fa-times align-top "></i>
					</div>
					<div id="done-dialog-content" class="text-center">
					</div>
				</div>

				</div>
 -->
마이페이지2
			</div>
	
	<th:block layout:fragment="script">
		<script th:src="@{/static/js/member/myPage.js}"></script>

	</th:block>
	<th:block layout:fragment="css">

		<link rel="stylesheet" type="text/css"
			th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css"
			th:href="@{/static/styles/member/myPage.css}">
	</th:block>
	<!-- 사용자 스크립트 추가 -->



</body>
</html>