<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/myPageLayout"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>

</head>
<body>
	<div class="container"  layout:fragment="myPageContent">
		<div class="container px-3" id="myReservedList">
			<br />
			<h3>나의 예약 및 결제 내역</h3>
			<br />
			<div class="row text-center p-2 shadow-sm">
				<div class="col-2">예약날짜</div>
				<div class="col-4">예약내역</div>
				<div class="col-4">이용날짜</div>
				<div class="col-2">이용시간</div>
			</div>
			<div class="row text-center border-bottom  py-2"
				th:each="rlist : ${rlist}">
				<div class="col-2" th:text="${rlist.agreeTime}"></div>
				<div class="col-4" th:text="${rlist.roomname}"></div>
				<div class="col-4" th:text="${#dates.format(rlist.reservationdate, 'yyyy.MM.dd HH:mm')}"></div>
				

				<div class="col-2" th:text="${rlist.usetime}"></div>
			</div>
			<!-- 페이징  -->
			<div class="row pt-2 ">
				<div class="col-12">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:if="${pageMakerRL.prev} == true"><a
							class="page-link"
							th:href="@{/member/myReservedList(page=${pageMakerRL.startPage}-1,perPageNum=${pageMakerRL.cri.perPageNum}, keyword=${pageMakerRL.cri.keyword})}">&laquo;</a>
						</li>

						<li class="page-item"
							th:each="idx,iterStat : ${#numbers.sequence(pageMakerRL.startPage,pageMakerRL.endPage)}"
							th:classappend="${pageMakerRL.cri.page} == ${idx} ? active : null">
							<a class="page-link"
							th:href="@{/member/myReservedList(page=${idx},perPageNum=${pageMakerRL.cri.perPageNum},  keyword=${pageMakerRL.cri.keyword})}"
							th:text="${idx}" th:if="${idx}"></a>
						</li>

						<li class="page-item"
							th:if="${pageMakerRL.next} == true and ${pageMakerRL.endPage > 0}">
							<a class="page-link"
							th:href="@{/member/myReservedList(page=${pageMakerRL.endPage}+1,perPageNum=${pageMakerRL.cri.perPageNum}, keyword=${pageMakerRL.cri.keyword})}">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>