<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/messageLayout"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<title>내 쪽지함</title>
</head>
<body>

	<div id="messageContent" layout:fragment="messageContent">

		<div id="sendMessage"  class="py-2 small">
			<form name="sendMessage" method="post">

				<div class="row py-2">
					<div class="col-3">
						<span>보내는 사람</span>
					</div>
					<div class="col-9">
						<span id="senderNickName" th:text="${session.nickName}"></span> (<span
							id="sender" th:text="${session.userId}"></span>)
					</div>
				</div>

				<div class="row py-2">
					<div class="col-3">
						<span>받는 사람</span>
					</div>
					<div class="col-9">
						<span id="recipientNickName" th:text="${recipientNickName}"></span>
						(<span id="recipient" th:text="${recipient}"></span>)
					</div>
				</div>

				<div class="row py-2">

					<div class="col">
						<textarea class="form-control" name="messageContent" cols="30"
							rows="8" maxlength="300"></textarea>
					</div>
				</div>
				<div class="row py-2">
					<div class="col ">
						<input type="button" class="mybtn px-2 float-right" name="sendMessageBtn"
							value="보내기">
					</div>
						<!-- 완료 모달 -->
				<div id="done-dialog" class="jumbotron">
					<div id="done-close" class="text-right">
						<i class="fas fa-times  align-top "></i>
					</div>
					<div id="done-dialog-content" class="text-center">
					   <br /> <i class="far fa-check-circle fa-3x"></i> <br />완료<br /> <br />
						<br />
					</div>
				</div>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
			</form>
		</div>




	</div>


</body>
</html>