<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>

</head>
<body>



	<div class="accordion" id="wantedList">
	
	<div class="card-header"> 
	모집 글번호  모집 글 제목   모집글 작성일   상태
	</div>
		
		<div class="card" th:each="list : ${list}">
			<div class="card-header" id="'heading'+${list.id}">
				<h5 class="mb-0">


					<button class="btn btn-link" type="button" data-toggle="collapse"
						th:data-target="'#body'+${list.id}" aria-expanded="true"
						aria-controls="'body'+${list.id}">
						<span th:text="${list.id}"></span>  <span th:text="${list.title}"></span> <span
							th:text="${list.writeDate}"></span>
						<span th:if="${list.status} == 1 " th:text="모집중"></span> <span
							th:unless="${list.status} == 1" th:text="모집완료"></span>


					</button>
				</h5>
			</div>

			<div th:id="'body'+${list.id}" class="collapse"
				th:aria-labelledby="'heading'+${list.id}" data-parent="#wantedList">
				<div class="card-body">



					<div th:each="plist : ${list.wantedPlist}">
						신청자 : <span th:text="${plist.ApplyUserId}"></span> 신청일: <span
							th:text="${plist.applyDate}"> </span> 신청메세지: <span
							th:text="${plist.applyContent}"></span>
					</div>
				</div>
			</div>
		</div>

	</div>


	<br />
	<br />
	<br />
	<br />
	<script th:src="@{/webjars/jquery/3.3.1/dist/jquery.js}"></script>
	<!-- <script th:src="@{/static/js/member/myPage.js}"></script> -->
</body>
</html>