<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/mainLayout"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
</head>

<body>

<div class="container" layout:fragment="content">

<form name ="uploadProfileForm" method="post" enctype="multipart/form-data" >
<input type="file" id="uploadProfile" name="uploadProfile">
<input type="button" id="uploadDone" value="변경">

<img th:src="@{'/static/codesquareDB/UserThumbnail/'+${session.userId}+'/'+${session.userId}+'_Thumbnail.jpg'}" id="profileImg" style="width:100px; height:100px" />
</form>


	<th:block layout:fragment="script">
		<script th:src="@{/webjars/jquery/3.3.1/dist/jquery.js}"></script>
		<script th:src="@{/static/js/member/upload.js}"></script>
	</th:block>
	</div>
</body>
</html>