<html>
<html xmlns:th="http://www.typeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

	<table width="500" cellpadding="0" cellspacing="0" border="1">
		<form action="update" method="post">

			<tr th:each="Board:${list}">
				<td> 번호 <input type="hidden" name="id" th:value="${Board.id}"></td>
				<td th:text="${Board.id}"></td>
			</tr>
			<tr th:each="Board:${list}">
				<td> 조회수 </td>
				<td th:text="${Board.hit}"></td>
			</tr>
			<tr th:each="Board:${list}">
				<td> 작성자 </td>
				<td> <input type="text" name="nickName" th:value="${Board.nickName}"></td>
			</tr>
			<tr th:each="Board:${list}">
				<td> 제목 </td>
				<td> <input type="text" name="title" th:value="${Board.title}"></td>
			</tr>
			<tr th:each="Board:${list}">
				<td> 내용 </td>
				<td> <input type="textarea" name="content" rows="30" th:value="${Board.content}"> </td>
			</tr>
			<tr th:each="Board:${list}">
				<td colspan="2"> <input type="submit" value="수정완료"> &nbsp;&nbsp; <a href="noticeBoard">목록보기</a> &nbsp;&nbsp; <a th:href="@{'delete?id='+${Board.id}}">삭제</a></td>
			</tr>
		</form>
	</table>
	
</body>
</html>