<html>
<html xmlns:th="http://www.typeleaf.org" 
xmlns:sd="http://www.thymeleaf.org/spring-data"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout/mainLayout2">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

</head>
<body>
<div class="container" layout:fragment="content">
	<div style="border-bottom: 2px solid;"><h1 align="left"><a href="javascript:history.go(-1)">CodeSquare</a></h1></div>
	
	<div style="border-bottom: 2px solid; border-bottom-color: gray;">
	<a style="float: right;"><span th:text="${list.hit}" style="float: right;"></span>조회수 &nbsp;</a>
	<h2><span th:text="${list.title}" class="article__title"></span></h2></div>
				<section class="article__data" style="border-bottom: 2px solid; border-bottom-color: gray;">
				<div class="fr-view">
				<p th:utext="${list.content}" style="color: gray; font-size: 17px;"></p>
				</div>
				</section>
				
				<a th:href="@{'/modifygo?id=' + ${list.id}}" type="button" class="btn btn-success">수정</a> &nbsp;&nbsp;
				<a href="javascript:history.go(-1)" type="button" class="btn btn-primary">목록보기</a> &nbsp;&nbsp;
				<a th:href="@{'delete?id='+${list.id}}" type="button" class="btn btn-danger">삭제</a>
	</div>
</body>
</html>