<!DOCTYPE html>
<html xmlns:th="http://www.typeleaf.org"
xmlns:sd="http://www.thymeleaf.org/spring-data"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout/mainLayout">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>게시판 리스트</title>
</head>
<body>

<div class="container" layout:fragment="content">
		<div class="lecture_header_item d-flex justify-content-between"
			style="border-bottom: 2px solid #D8D8D8">
	<h1 align="center"><a href=noticeBoard>공지사항</a></h1>
	</div>

	<div class="container">
		<table class="table table-hover">
			<tr>
				<th bgcolor="skyblue">id</th>
				<th bgcolor="skyblue">userId</th>
				<th bgcolor="skyblue">nickname</th>
				<th bgcolor="skyblue">title</th>
				<th bgcolor="skyblue">writeDate</th>
				<th bgcolor="skyblue">modifyDate</th>
				<th bgcolor="skyblue">hit</th>
			</tr>
			<tr th:each="Board:${list}">
	             <td th:text="${Board.id}" ></td>
	             <td th:text="${Board.userId}" ></td>
	             <td th:text="${Board.nickName}" ></td>
	             <td><a th:href="@{'/noticeView?id=' + ${Board.id}}"><p th:text="${Board.title}"></p></a></td>
	             <td th:text="${Board.writeDate}" ></td>
	             <td th:text="${Board.modifyDate}" ></td>
	             <td th:text="${Board.hit}" ></td>

	        </tr>
		</table>
		<a href="noticeWrite" class="btn btn-default" role="button">글쓰기</a>
	</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div align="center">
              <ul class="pagination pagination-sm no-margin pull-right">
              <li th:if="${pageMaker.prev} == true">
              	<a th:href="@{/noticeBoard(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
              </li>

              <li th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
                <a th:href="@{/noticeBoard(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a>
              </li>
                
              <li th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
              	<a th:href="@{/noticeBoard(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
              </li>
              </ul>
        </div>
        </div>
</body>
</html>