<html>
<html xmlns:th="http://www.typeleaf.org" 
xmlns:sd="http://www.thymeleaf.org/spring-data"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout/mainLayout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="container" layout:fragment="content">
<form action="update">
<input type="hidden" name="id" th:value="${list.id}">
	<div style="border-bottom: 2px solid;"><h1 align="left"><a href="javascript:history.go(-1)">CodeSquare</a></h1></div>
	<div style="border-bottom: 2px solid; border-bottom-color: gray;">
	<a style="float: right;"><span th:text="${list.hit}" style="float: right;"></span>조회수 &nbsp;</a>
	<h2><input type="text" th:value="${list.title}" name="title" class="article__title"></h2></div>
				<section class="article__data">
				<div class="fr-view">
				<input type="text" name="content" th:value="${list.content}" style="color: gray; font-size: 17px;">
				</div>
				</section>
				
				<input type="submit" class="btn btn-success" value="수정완료"> &nbsp;&nbsp;
				<a href="javascript:history.go(-1)" type="button" class="btn btn-primary">목록보기</a> &nbsp;&nbsp;
				<a th:href="@{'delete?id='+${list.id}}" type="button" class="btn btn-danger">삭제</a>
</form>	
</div>
</body>
</html>