<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.codesquare.mapper.admin.AdminMapper">

	<!-- 신고내역 조회 쿼리 -->
	<select id="getFiveRepotedInfo" resultType="ReportedUserInfo">
		SELECT * FROM
		ReportedInfo ORDER BY ID DESC LIMIT 5
	</select>
	<!-- todolist -->
	<select id="getTodoList" parameterType="String"
		resultType="UserTodoList">
		SELECT * FROM ToDoList WHERE UserId=#{id};
	</select>

	<!-- todolist 추가 쿼리 -->
	<insert id="insertTodoList" parameterType="map">
		INSERT INTO ToDoList(UserId, Content)
		VALUES(#{userId},#{content})
		<selectKey resultType="hashmap" keyProperty="id,writeDate"
			order="AFTER">
			SELECT Id AS 'id', WriteDate AS 'writeDate' FROM ToDoList ORDER BY Id DESC
			LIMIT 1
		</selectKey>
	</insert>

	<!-- todolist 삭제 쿼리 -->
	<delete id="deleteTodoList" parameterType="int">
		DELETE FROM ToDoList
		WHERE Id=#{id}
	</delete>

	<!-- 관리자 메모 조회 쿼리 -->
	<select id="getAdminMemo" resultType="AdminMemo">
		SELECT * FROM AdminMemo
	</select>

	<!-- 관리자 메모 업데이트 쿼리 -->
	<update id="updateAdminMemo" parameterType="map">
		UPDATE AdminMemo
		<set>
			<if test="author !=null">Author=#{author},</if>
			<if test="content !=null">Content=#{content},</if>
		</set>
		,WriteDate=CURRENT_TIMESTAMP
	</update>

	<!-- 일주일 가입 회원 조회 -->
	<select id="getWeekSignupMember" resultType="int">
	 	<![CDATA[
			SELECT COUNT(*)
			FROM UserInfo
			WHERE SignUpDate >= DATE_ADD(NOW(),INTERVAL -7 DAY)
		]]>
	</select>

	<!-- 일주일 새글 갯수 조회 -->
	<select id="getNewPost" resultType="int">
	 	<![CDATA[
			SELECT COUNT(*)
			FROM Board
			WHERE WriteDate >= DATE_ADD(NOW(),INTERVAL -7 DAY)
		]]>
	</select>

	<!-- 강사인원 조회 -->
	<select id="getInstroduction" resultType="int">
	 	<![CDATA[
			SELECT COUNT(*)
			FROM InstructorInfo
		]]>
	</select>

	<!-- 최근 3일 올라온 강의 조회 -->
	<select id="getRecentLecture" resultType="int">
	 	<![CDATA[
			SELECT COUNT(*)
			FROM Board
			WHERE BoardKindId='LrnPr' AND WriteDate >= DATE_ADD(NOW(),INTERVAL -3 DAY)
		]]>
	</select>

	<!-- 최근 3일 신고 카운트 랭킹 조회 -->
	<select id="getThreeDayRepotedUserRanking"
		resultType="ReportedUserInfo">
	 	<![CDATA[
			SELECT @rownum:=@rownum+1 AS 'rowNum', COUNT(*)AS 'ReportedCount', b.ReportedUserId
			FROM (SELECT * FROM ReportedInfo a WHERE a.ReportedDate >= DATE_ADD(NOW(),INTERVAL -3 DAY)) AS b,(SELECT @rownum:=0)AS r
			GROUP BY b.ReportedUserId
			ORDER BY ReportedCount DESC LIMIT 5
		]]>
	</select>

	<!-- 회원 조회 쿼리 -->
	<!-- <select id="getAllMemberInfo" resultType="Member"> SELECT u.UserId, 
		u.AuthorId, u.RestrictId, u.NickName, u.SignUpDate, u.BanCount, u.`POINT`, 
		rs.Content FROM UserInfo u INNER JOIN RestrictStatusInfo rs ON u.RestrictId=rs.Id 
		ORDER BY UserId </select> -->
	<select id="getAllMemberInfo" resultType="Member">
   <![CDATA[
         SELECT u.UserId, u.AuthorId, u.RestrictId, u.NickName, u.SignUpDate, u.BanCount, u.`POINT`, rs.Content 'restrictName', ai.Content 'authorName'
		 FROM UserInfo u INNER JOIN RestrictStatusInfo rs ON u.RestrictId=rs.Id
		 INNER JOIN AuthorInfo ai ON ai.Id=u.AuthorId
   ]]>
   <![CDATA[   
         ORDER BY u.UserId
         LIMIT #{pageStart}, #{perPageNum}
   ]]>
	</select>
	
	<!-- ID순서 정렬 -->
	<select id="getSortIdMemberInfo" resultType="Member">
   <![CDATA[
         SELECT u.UserId, u.AuthorId, u.RestrictId, u.NickName, u.SignUpDate, u.BanCount, u.`POINT`, rs.Content 'restrictName', ai.Content 'authorName'
		 FROM UserInfo u INNER JOIN RestrictStatusInfo rs ON u.RestrictId=rs.Id
		 INNER JOIN AuthorInfo ai ON ai.Id=u.AuthorId
   ]]>
   <![CDATA[   
         ORDER BY u.UserId 
         LIMIT #{pageStart}, #{perPageNum}
   ]]>
	</select>
	
	<!-- point순서정렬 -->
	<select id="getSortPointMemberInfo" resultType="Member">
   <![CDATA[
         SELECT u.UserId, u.AuthorId, u.RestrictId, u.NickName, u.SignUpDate, u.BanCount, u.`POINT`, rs.Content 'restrictName', ai.Content 'authorName'
		 FROM UserInfo u INNER JOIN RestrictStatusInfo rs ON u.RestrictId=rs.Id
		 INNER JOIN AuthorInfo ai ON ai.Id=u.AuthorId
   ]]>
   <![CDATA[   
         ORDER BY u.Point DESC
         LIMIT #{pageStart}, #{perPageNum}
   ]]>
	</select>
	
	<!-- ban순서정렬 -->
	<select id="getSortBanMemberInfo" resultType="Member">
   <![CDATA[
         SELECT u.UserId, u.AuthorId, u.RestrictId, u.NickName, u.SignUpDate, u.BanCount, u.`POINT`, rs.Content 'restrictName', ai.Content 'authorName'
		 FROM UserInfo u INNER JOIN RestrictStatusInfo rs ON u.RestrictId=rs.Id
		 INNER JOIN AuthorInfo ai ON ai.Id=u.AuthorId
   ]]>
   <![CDATA[   
         ORDER BY u.BanCount DESC
         LIMIT #{pageStart}, #{perPageNum}
   ]]>
	</select>

	<select id="countPaging" parameterType="map" resultType="int">
 	  <![CDATA[
         SELECT COUNT(@rownum)
         FROM (SELECT @rownum:=@rownum+1 AS'rowNum', u.* FROM ${tName} AS u, (SELECT @rownum:=0) r)AS b
         WHERE @rownum >0 
      ]]>
      <if test="content !=null">AND UserId like CONCAT('%',#{content},'%') OR NickName like  CONCAT('%',#{content},'%')</if>
	</select>
	
	<!-- 회원 아이디 닉네임 검색 쿼리 -->	
	<select id="getSearchMember" parameterType="String" resultType="Member">
		SELECT u.UserId, u.AuthorId, u.RestrictId, u.NickName, u.SignUpDate, u.BanCount, u.`POINT`, rs.Content 'restrictName', ai.Content 'authorName'
		 FROM UserInfo u INNER JOIN RestrictStatusInfo rs ON u.RestrictId=rs.Id
		 				 INNER JOIN AuthorInfo ai ON ai.Id=u.AuthorId
		 WHERE UserId like CONCAT('%',#{content},'%') OR NickName like CONCAT('%',#{content},'%')
	</select>
	
	<!-- 회원정보 상세보기 쿼리 -->
	<select id="getSelectMemberInfo" parameterType="String" resultType="Member">
		SELECT u.UserId,u.`Name`,u.Email, u.AuthorId, u.RestrictId, u.NickName, u.SignUpDate, u.DateOfBirth ,u.BanCount, u.`POINT`, rs.Content 'restrictName', ai.Content 'authorName'
		 FROM UserInfo u INNER JOIN RestrictStatusInfo rs ON u.RestrictId=rs.Id
		 				 INNER JOIN AuthorInfo ai ON ai.Id=u.AuthorId
		 WHERE UserId=#{userId}
		
	</select>	
	<!-- 회원 정보 삭제 쿼리 -->
	<delete id="deleteUserInfo" parameterType="String">
		DELETE FROM UserInfo
		<if test="value!=null">WHERE UserId=#{userId}</if>
	</delete>

	<!-- 등급&권한정보 조회 쿼리 -->
	<select id="getAllAuthorInfo" resultType="map">
		SELECT Id AS 'id', Content AS 'content'
		FROM AuthorInfo
	</select>
	
	<!-- 제한정보 조회 쿼리 -->
	<select id="getAllRestrictInfo" resultType="map">
		SELECT Id AS 'id', Content AS 'content'
		FROM RestrictStatusInfo
	</select>
	
	<!-- 등급&제한정보 조회 쿼리 -->
	<select id="getAllSelectboxInfo" parameterType="string" resultType="SelectBasket">
		SELECT Id AS 'id', Content AS 'content'
		<if test="value!=null">FROM ${value}</if>		
	</select>
	
	<update id="updateUserInfo" parameterType="Member">
		UPDATE UserInfo
		<set>
			<if test="nickName !=null">NickName=#{nickName},</if>
			<if test="authorId !=null">AuthorId=#{authorId},</if>
			<if test="restrictId !=null">RestrictId=#{restrictId}</if>
		</set>
		WHERE UserId=#{userId}
	</update>
	
	<!-- 유저들 등급 조정 쿼리 -->
	<update id="updateUsersAuthor" parameterType="java.util.ArrayList">
		<foreach item="item" collection="list" separator=";" index="index">
			UPDATE UserInfo
			SET AuthorId=#{item.id}
			WHERE UserId=#{item.strId}
		</foreach>
	</update>
	<!-- 유저들 제한 조절 쿼리 -->
	<update id="updateUsersRestrict" parameterType="java.util.ArrayList">
		<foreach item="item" collection="list" separator=";" index="index">
			UPDATE UserInfo
			SET RestrictId=#{item.id}
			WHERE UserId=#{item.strId}
		</foreach>
	</update>
	
	<insert id="insertFileInfo" parameterType="codesquareFile">
		INSERT INTO
		FileInfo(BoardId,Extension,OriginalName,ChangedName,Size, IsImage)
		VALUES(#{boardId},#{extension},#{originalName},#{changedName},#{size},(SELECT
		IF(#{extension} IN ('JPG','jpeg','jpg','png','JPEG','PNG'), 1,0)))
	</insert>

</mapper>
